{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div id="galleryGrid" class="container popup-gallery">
            <!-- Row 1 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/UltraViolet-Wedding-2.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/UltraViolet-Wedding-2-th.jpg" alt="UltraViolet Wedding Couple">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Matt-Groom.jpg" title="" photographer="Maurice Hikes Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Matt-Groom.jpg" alt="Matt Groom">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/lana-cake.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/lana-cake-th.jpg" alt="Lana with her Wedding Cake">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/groom-and-groomsman.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/groom-and-groomsman-th.jpg" alt="Groom and Groomsman">
                    </a>
                </div>
            </div>

            <!-- Row 3 -->
            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/warren-estate.JPG" title="" photographer="Michael Jacobs Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/warren-estate.JPG" alt="Warren Estate Wedding">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/warren-estate-groom.JPG" title="" photographer="Michael Jacobs Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/warren-estate-groom.JPG" alt="Warren Estate Groom">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/kacey-and-mike-03.jpg" title="" photographer="Something Blue Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/kacey-and-mike-03.jpg" alt="Kacey and Mike's wedding">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-wedding-couple.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-wedding-couple.jpg" alt="Boho Wedding Couple">
                    </a>
                </div>

            </div>


            <div class="row">
                <!--EMPTY -->
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/nate.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/nate.jpg" alt="Nate Groom">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/richard-nate.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/richard-nate.jpg" alt="Richard and Nate Grooms">
                    </a>
                </div>
            </div>

            <div class="row">
            </div>

        </div>

       {{ partial "footer.html" . }} 