{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <!-- 
             Bachelor of Arts
             Associates of Graphic Design
             -->
        <div class="container mb-5">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7">
                    <p class="font-weight-bold">UNC Asheville - Bachelor of Arts with a distinction in Art</p>
                </div>
                <div class="col-md-7">
                    <p class="font-weight-bold">Wake Techincal Community College - Graphic Design</p>
                </div>
            </div>

            <h3 class="mb-5 text-center">License</h2>
            <div class="row justify-content-center mb-5">
                <div class="col-md-7">
                    <p class="font-weight-bold">Mitchell's Academy - Licensed Esthetician with the state of North Carolina</p>
                </div>
            </div>
            <h3 class="mb-5 text-center">Master Classes</h2>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">The Perfect Bride by Ester Aiden at The Makeup Show, New York City</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Emphasis Eyes by Bethany Townsend at The Makeup Show, New York City</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Women of Color by Lija Jade at The Makeup Show, New York City</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Makeup for Photography by Danessa Myrick at The Makeup Show, New York City</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Skin Architect By Danessa Myrick at Lilly’s Makeup Bar, Wendell, NC</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Terri Tomlinson Color Theory Dallas, Texas and Raleigh, NC</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Kevin James Bennett & MG Hair and Makeup Bridal Beauty Master Class Charlotte, NC</p>
                </div>
            </div>
        </div>
{{ partial "footer.html" . }} 