<!doctype html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <!-- <link rel="stylesheet" href="bootstrap.css"> -->
            <link rel="stylesheet" href="css/styles.css">

            <!-- Magnific Popup core CSS file -->
            <link rel="stylesheet" href="node_modules/magnific-popup/dist/magnific-popup.css">

            <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
            <title>Services</title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>
    <body>

    <div class="mb-5">
        </div>

        <div class="container text-center border border-periwinkle border-top-0 border-right-0 border-left-0 mb-5" id="siteHeader">
            <!-- Different sized headers for mobile -->
            <h1 class="display-4 d-none d-sm-block font-weight-bold"><a href="./index.html">THERESA BURDEN</a></h1>
            <h1 class="display-5 d-sm-none font-weight-bold"><a href="./index.html">THERESA BURDEN</a></h1>
            <h4 class="display-5 d-none d-sm-block mb-5"><a href="./index.html">makeup artistry</a></h4>
            <h4 class="display-5 d-sm-none mb-5"><a href="./index.html">makeup artistry</a></h4>

            <!--TODO: https://stackoverflow.com/questions/21465618/is-it-possible-to-use-twitter-bootstraps-navbar-fix-to-top-only-on-mobile-devic -->
            <nav class="navbar navbar-expand-md bg-white navbar-light" id="siteNav">
                <!-- <a class="navbar-brand d-md-none" href="#">Home</a> -->
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#collapsibleNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNav">
                    <ul class="navbar-nav container justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link" href="./gallery.html">GALLERY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./ovations.html">CRITIQUES</a>
                        </li>
                        <li class="navr-item">
                            <a class="nav-link" href="./contact.html">CONTACT</a>
                        </li>
                        <li class="navr-item">
                            <a class="nav-link" href="./faq.html">FAQ</a>
                        </li>
                        <li class="navr-item">
                            <a class="nav-link" href="./bio.html">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./community.html">COMMUNITY</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container mb-5 text-center pageHeader">
            <h2>SERVICES</h2>
        </div>

        <div class="container">
            <p>
                Theresa Burden Makeup Artistry is a published makeup artist that
                provides mobile beauty services for bridal and special event clients.
                Everything from skin care, eyeshadow, foundation, down to the last
                eyelash is customized and tailored to the specific wants and needs
                of the client, creating a timeless, beautiful look.
            </p>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="img/services/makeup-application.jpg" alt="Makeup Application">
                    <p class="text-center photoCredit font-italic">Lundie's Photography Inc.</p>
                </div>
                <div class="col-6">
                <ul>
                    <li>
                        Wedding 
                    </li>
                    <li>
                        Anniversary  
                    </li>
                    <li>
                        Date Night 
                    </li>
                    <li>
                        Birthday 
                    </li>
                    <li>
                        Holiday Party 
                    </li>
                    <li>
                        Headshots 
                    </li>
                    <li>
                        Photoshoot 
                    </li>
                    <li>
                        Reunion 
                    </li>
                    <li>
                        Personal Shopping 
                    </li>
                    <li>
                        Feminization MtoF 
                    </li>
                    <li>
                        Mens/Grooming
                    </li>
                    <li>
                        Makeup Lessons
                    </li>
                    <li>
                        Makeup Parties
                    </li>
                    <li>
                        Brow Grooming
                    </li>
                </ul>

                </div>

            </div>
            

            <p>
                Theresa can paint it all; Whether it is a dramatic
                smokey eye, or a clean natural beauty, 
                <a href="./contact.html" target="blank" class="seaFoamContact">contact</a>
                Theresa and ask about her availability.
                She would love to transform you!
            </p>
        </div>

        
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>