{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container mb-5">
            <div class="row">
                <div class="col-md-6 pr-4 mb-5 border border-periwinkle border-top-0 border-bottom-0 border-left-0">
                    <p> 
                        <span class="font-weight-bold fancyStart">F</span>rom a young age, Theresa
                        has always enjoyed
                        expressing herself through many forms of art. She
                        spent many hours immersed in her sidewalk chalk
                        art as a young person.
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <img class="img-fluid mb-5" src="./img/about/sidewalk-cropped.jpg" alt="Theresa's sidewalk art">
                        </div>
                    </div>
                    <p>
                        The passion of makeup artistry first ignited when
                        she was pursuing her art degree at the University
                        of North Carolina in Asheville. Portraits were
                        her senior focus, utilizing chalk as the medium of
                        choice once again. She always enjoyed applying
                        the makeup to the portrait drawings. As her senior
                        thesis was coming to a close, she started to dabble
                        in costume makeup.
                    </p>
                    <img class="img-fluid" src="./img/about/gallery.jpg" alt="Alter Ego Art Show">
                    <p class="text-center font-italic photoCredit mb-5">Senior Art Show at UNCA 2010</p>
                    <p>
                        After school, she started working and training in
                        makeup at Sephora. She loved learning all about
                        skin care, makeup, and working with a wide variety
                        of clientele. After about a year at Sephora, Theresa
                        knew she had found her calling and so she attained
                        an Esthetics License with the state of North Carolina.
                    </p>
                </div>

                <div class="mt-md-5 col-md-6 pl-4">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <img class="img-fluid" src="./img/about/artist_in_action.jpeg" alt="Theresa Makeup Artist">
                        </div>
                    </div>

                    <p class="text-center font-italic font-italic photoCredit mb-5">Mina von Feilitzsch Photography</p>
                    <p>
                        Her continued education includes adventures to makeup shows and conventions in different areas of the US from the east to west coasts. 
                        She receives training from various Master Artists. 
                        In her eagerness to improve her craft, she hopes to someday travel to Paris, France and visit the headquarters of her most loved professional makeup brand, Viseart.
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <img class="img-fluid" src="./img/about/makeupartist-2.png" alt="Theresa's Makeyp VMA">
                            <p class="text-center font-italic font-italic photoCredit mb-5">VMA Studios</p>
                        </div>
                    </div>
                    <p>
                        Theresa’s background in art and design allows
                        her to see faces through an artistic lens. All
                        of her knowledge from being an artist greatly
                        informs the techniques and creativity of makeup
                        applications. With each new face as a fresh
                        canvas, she strives to create a unique look for
                        each person that reflects their personal style,
                        creating a timeless, original work of art. 
                    </p>
                    <p>
                        <a href="./contact.html" target="blank" class="seaFoamContact font-weight-bold">Contact</a> Theresa to begin your beauty
                        journey together.
                    </p>
                </div>
            </div>
            <!--
            <div class="row justify-content-center">
                <div class="col-8">
                    <img class="img-fluid" src="./img/about/apex_nc_makeup_artist.jpg" alt="Apex NC Bridal Makeup">
                    <p class="text-center font-italic photoCredit mb-5">Krista Stevens Photography</p>
                </div>
            </div>
            -->
        </div>
        <!-- Transplanted content -->
        <div class="container mb-5 text-center pageHeader">

            <h2>Education</h2>
        </div>

        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-7">
                    <img class="img-fluid" src="img/about/glossy_lips_and_lashes.jpeg" alt="Glossy lips and lashes">
                    <p class="text-center font-italic font-italic photoCredit mb-5">Mina von Feilitzsch Photography</p>
                </div>
            </div>
        </div>

        <!-- 
             Bachelor of Arts
             Associates of Graphic Design
             -->
        <div class="container mb-5">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7">
                    <p class="font-weight-bold">UNC Asheville - Bachelor of Arts with a Distinction in Art</p>
                </div>
                <div class="col-md-7">
                    <p class="font-weight-bold">Wake Techincal Community College - Graphic Design</p>
                </div>
            </div>

            <h3 class="mb-5 text-center">License</h2>
            <div class="row justify-content-center mb-5">
                <div class="col-md-7">
                    <p class="font-weight-bold">Mitchell's Academy - Licensed Esthetician with the state of North Carolina</p>
                </div>
            </div>
            <h3 class="mb-5 text-center">Master Classes</h2>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">The Perfect Bride by Ester Aiden at The Makeup Show, New York City</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Emphasis Eyes by Bethany Townsend at The Makeup Show, New York City</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Women of Color by Lija Jade at The Makeup Show, New York City</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Makeup for Photography by Danessa Myrick at The Makeup Show, New York City</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Skin Architect By Danessa Myrick at Lilly’s Makeup Bar, Wendell, NC</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Terri Tomlinson Color Theory Dallas, Texas and Raleigh, NC</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Kevin James Bennett & MG Hair and Makeup Bridal Beauty Master Class Charlotte, NC</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Women over 65 - Lashes, lips, brows with Eugenia Weston in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Camouflage, conceal, and correct with David Hernandez in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Skin Theory with Michela Wariebi in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Vintage Metamorphosis with Jessica Padilla, Chris Milone, and Michelle Coursey in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Creating Character with Melissa Street in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Extraordinary Beauty with Christian Schild in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Beyond Beauty with James Molloy in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Beauty is Boring with Robin Black in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Makeup for a Beauty “Glampaign” with Gregory Arlt and Romero Jennings in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Inspiration, Conception, Action with Roshar in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Bold eyes, Insatiable Skin with a Twist with Lena Koro in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Color, Texture, Pretty with Marika D’Auteuil in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Face Fanatic with Phyllis Cohen in Portland, Oregon</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Total Transformation with Francesca Tolot in Portland, Oregon</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">A "Tru" Makeup Technique with Andy Truong in Bountiful, Utah</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Advanced Makeup Classes with Terri Tomlinson in Addison, Texas</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">James Molloy - Beauty Demo at the Makeup Show in New York City - May 2023</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Glam + Go: Techniques for the Business of Glamour: Lijha Stewart, The Makeup Show in New York City - May 2023</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="font-weight-bold">Hale & Hush Skincare Training - June 2023</p>
                </div>
            </div>
        </div>

       {{ partial "footer.html" . }} 