{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <!-- Centered Heidi Photo
        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-6">
                    <img class="img-fluid" src="img/heidi-bridesmaids.jpg" alt="Michelle-Wedding">
                </div>
            </div>
        </div>
        -->
        <div class="container clearfix mb-5 d-md-flex align-items-md-center">
            <div class="floatImage float-right ml-4 order-2">
                <img class="img-fluid ovationPic" src="img/ovations/mary-review.jpeg" alt="Erica on her wedding day">
                <!-- <p class="text-center font-italic photoCredit">Maurice Hikes Photography</p> -->
            </div>
            <div class="floatText float-md-left">
                <p class="font-italic">
                   "I really cannot recommend Theresa enough!
                   I wanted a professional to sit down with me and actually teach me the methods and what techniques/products works best for my style and features and that's exactly what I received!
                   Sitting down for my lesson with Theresa felt like a get together with an old friend.
                   She has a calmness and realness that immediately puts others at ease. She listened to my needs and tailored our session accordingly.
                   She also focuses on bringing out your best features while still maintaining a natural look.
                   I had really struggled with brows and lip lining prior to our session and I learned so much.
                   I loved that she did one side of my face and then had me actually practice the other side until I felt comfortable recreating the look.
                   I loved the products she recommended as well!  Highly recommend!" 
                </p>
                <p class="text-right">--Mary</p>
            </div>
        </div>

        <div class="container mb-5 text-justify font-italic fullQuote">
            <h5 class="growText">
                "I am so happy I contacted Theresa for makeup lessons! 
                I have had makeup done a few times previously by others and it never came out well.
                I hit the Jackpot with Theresa! She is beyond talented!
                She is highly skilled in colors and techniques!
                I learned how to prep my face for makeup, makeup colors and application, and about skin care products best for me.
                I highly recommend Theresa! I would give her 10 stars if I could. I just couldn’t be more pleased!"
            </h5>
            <h5 class="text-right growText">--Keeley</h5>
        </div>

        

        <div class="container clearfix mb-5 d-md-flex align-items-md-center">
            <div class="floatImage float-left mr-4">
                <img class="img-fluid ovationPic" src="img/ovations/LylyandDevone-285.jpg" alt="Lyly and Devone Wedding Party">
                <p class="text-center font-italic photoCredit">Story &amp; Rhythm Photography</p>
            </div>
            <div class="floatText float-md-right">
                <p class="font-italic">
                    “Theresa did a fantastic job with
                    my bridal and engagement photo
                    looks. She is so attentive and
                    enthusiastic about my ideas. Theresa
                    is very meticulous with her work, and
                    I couldn’t have been happier with her
                    professionalism and how the makeup
                    turned out. Love her!” 
                </p>
                <p class="text-right">--Lyly</p>
            </div>
        </div>

        <div class="container mb-5 text-justify font-italic fullQuote">
            <h5 class="growText">
                “I had so many compliments about how great my makeup
                looked! Theresa made me feel and look beautiful!”
            </h5>
            <h5 class="text-right growText">--Kathie</h5>
        </div>

        <div class="container clearfix mb-5 d-md-flex align-items-md-center">
            <div class="floatImage float-right ml-4 order-2">
                <img class="img-fluid ovationPic" src="img/ovations/Matt&Erica-6-crop.jpg" alt="Erica on her wedding day">
                <p class="text-center font-italic photoCredit">Maurice Hikes Photography</p>
            </div>
            <div class="floatText float-md-left">
                <p class="font-italic">
                    “Theresa was a dream to work with!  
                    She was professional and responsive throughout the entire planning process, 
                    ensuring a perfect and relaxed wedding day.
                    I worked with Theresa for wedding
                    makeup for myself, my bridesmaids,
                    and mom. I could not asked for better
                    professionalism or a more attentive
                    person for my bridal beauty needs.
                    Theresa ensured I was confident
                    through every step of preparations;
                    and, she exceeded my expectations
                    on wedding day.”
                </p>
                <p class="text-right">--Erica</p>
            </div>
        </div>

        <div class="container mb-5 text-justify font-italic fullQuote">
            <h5 class="growText">
                "Theresa is so kind and professional and knowledgeable.
                I would trust her to do my makeup any time for any event.
                She is incredible, and makes you feel so comfortable.
                She’s also a great teacher. I now feel equipped to do my own makeup daily and feel beautiful!
                I’d suggest everyone learn from her and have her do their makeup!!!"
            </h5>
            <h5 class="text-right growText">--Tania</h5>
        </div>

        <div class="container clearfix mb-5 d-md-flex align-items-md-center">
            <div class="floatImage float-left mr-4">
                <img class="img-fluid ovationPic" src="img/ovations/michellewedding5.jpg" alt="Michelle's bridal makeup">
            </div>
            <div class="floatText float-md-right">
                <p class="font-italic">
                    “Theresa did my makeup for my
                    wedding and I could not have
                    been happier! I got so many
                    compliments on my wedding
                    makeup!!! Theresa totally gets it
                    and has a knack for taking a bride’s
                    million requests and turning it into
                    a vision. I had to move my entire
                    wedding from KC to Raleigh at
                    the last minute (7 months before
                    the wedding) and Theresa was by
                    far the easiest vendor I worked
                    with when I moved everything to
                    Raleigh! Major bonus points for
                    punctuality, thoroughness, and
                    being so respectful of my house
                    when she came to do makeup. (I’ve
                    also gotten my brows done [by
                    Theresa] and they rocked!)” 
                </p>
                <p class="text-right">--Michelle</p>
            </div>
        </div>

        <div class="container mb-5 text-justify font-italic fullQuote">
            <h5 class="growText">
                “You. Were. Amazing!! Everyone absolutely loved their look.”
            </h5>
            <h5 class="text-right growText">--Marcia</h5>
        </div>

        <div class="container clearfix mb-5 d-md-flex align-items-md-center">
            <div class="floatImage float-right ml-4 order-2">
                <img class="img-fluid ovationPic" src="img/ovations/heidigroupshot.jpg" alt="Heidi with her bridesmaids">
                <p class="text-center font-italic photoCredit">Lundie's Photography Inc.</p>
            </div>
            <div class="floatText float-md-left">
                <p class="font-italic">
                    “Wonderful job!! Theresa is a true
                    artist with very personal service
                    from beginning to end - she took
                    the time to answer all my questions
                    and offer some very helpful advice
                    prior to our actual session and then
                    made me feel so comfortable while
                    she did my makeup for my son’s
                    wedding! Everyone in the wedding
                    party stepped away from her chair
                    looking absolutely stunning!”
                </p>
                <p class="text-right">--Kris</p>
            </div>
        </div>

        <div class="container mb-5 text-justify font-italic fullQuote">
            <h5 class="growText">
                I have never been more pleased in a makeup artist and still
                can’t recommend her enough to brides-to-be and those
                wanting professional makeup done.
            </h5>
            <h5 class="text-right growText">--Heidi</h5>
        </div>

        <div class="container clearfix mb-5 d-md-flex align-items-md-center">
            <div class="floatImage float-right ml-4 order-2">
                <img class="img-fluid ovationPic" src="img/ovations/black_bridal_makeup.jpg" alt="Black bridal makeup">
                <p class="text-center font-italic font-italic photoCredit">3BBM</p>
            </div>
            <div class="floatText float-md-left">
                <p class="font-italic">
                    “Theresa is so talented and has an amazing personality! I am so thankful that she did makeup for my bridal party, my mom, and me.
                    Theresa made sure that despite the bridesmaids having similar makeup looks, that they were all unique enough for their personalities to shine through.
                    Spending my wedding morning with Theresa was so chill and I couldn't have asked for a better makeup artist.
                    I highly recommend Theresa to any bride of any color because she is not only talented, but professional and kind.
                    Also, as an FYI, my bridal party was made up of mostly brown girls and Theresa did a phenomenal job with all of our skin tones” 
                </p>
                <p class="text-right">--Shannon</p>
            </div>
        </div>

        <div class="container mb-5 text-justify font-italic fullQuote">
            <h5 class="growText">
                Couldn’t recommend Theresa enough!! I don’t even know where to begin. 
                She is a true artist and gives 100% every time. 
                She is organized beyond belief, extremely professional, and constantly makes sure you feel comfortable and beautiful. 
                And wow <span class="font-weight-bold">I don’t think I’ve ever looked as good as I did on my wedding</span> and that’s a huge nod to Theresa. 
                And all my bridesmaids looked gorgeous! She truly loves doing make up and puts so much thought and care into every detail. She’s a dream!
            </h5>
            <h5 class="text-right growText">--Jackie</h5>
        </div>

        <div class="container mb-5">
            <img class="img-fluid ovationPic" src="img/ovations/the_bradford_bridal_suite.jpg" alt="The Bradford Bridal Suite">
                <p class="text-center font-italic font-italic photoCredit">Simone McAdams Photography</p>
        </div>

        <h3 class="text-center">For more reviews check out <a class="font-weight-bold seaFoamContact" target="blank" href="http://www.google.com/search?q=Theresa+Burden+Makeup+Artistry">Google</a> and <a class="font-weight-bold seaFoamContact" target="blank" href="https://www.facebook.com/pg/TheresaBurdenBeauty/reviews/">Facebook</a></h3>
        
        <!-- old, bootstrap grid method
        <div class="container mb-5 text-justify" id="quoteAndPic">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-italic">
                            "Theresa was amazing for my wedding day
                            makeup! I got tons of compliments on how
                            glamorous but natural my makeup was. The
                            heat index got up to 105 on the day of our
                            wedding and I was wearing a long, satin
                            dress with crinoline underneath (read: I was
                            sweating nonstop!) and my makeup didn’t
                            budge one bit! Theresa was flexible with my
                            needs, listened to what I wanted, showed up
                            early, was more than patient with the cha-
                            os of a wedding morning, and cleaned up
                            afterwards quickly. I will definitely be using
                            Theresa for my next big event!"

                            "Theresa was amazing for my wedding day
                            makeup! I got tons of compliments on how
                            glamorous but natural my makeup was. The
                            heat index got up to 105 on the day of our
                            wedding and I was wearing a long, satin
                            dress with crinoline underneath (read: I was
                            sweating nonstop!) and my makeup didn’t
                            budge one bit! Theresa was flexible with my
                            needs, listened to what I wanted, showed up
                            early, was more than patient with the cha-
                            os of a wedding morning, and cleaned up
                            afterwards quickly. I will definitely be using
                            Theresa for my next big event!"
                    </p>
                    <p class="text-right">--Michelle</p>
                </div>
                <div class="col-md-6">
                        <img class="img-fluid" src="img/michelle.jpg" alt="Michelle-Wedding">
                </div>
            </div>
        </div>

        <div class="container mb-5 text-justify font-italic" id="fullQuote">
            <h5>
                “I had so many compliments about how great my makeup
                looked! Theresa made me feel and look beautiful!”
            </h5>
            <h5 class="text-right">--Kathie</h5>
        </div>

        <div class="container mb-5 text-justify" id="quoteAndPic">
            <div class="row">
                <div class="col-6">
                        <img class="img-fluid" src="img/wedding-party.png" alt="Wedding-Party">
                </div>
                <div class="col-6">
                    <p class="font-italic">
                        “Theresa did a fantastic job with my bridal
                        and engagement photo looks. She is so
                        attentive and enthusiastic about my ideas.
                        Theresa is very meticulous with her work,
                        and I couldn’t have been happier with her
                        professionalism and how the makeup turned
                        out. Love her!”
                    </p>
                    <p class="text-right">--Lyly</p>
                </div>
            </div>
        </div>

        <div class="container mb-5 text-justify font-italic" id="fullQuote">
            <h5>
                "I worked with Theresa for wedding makeup for myself, my
                bridesmaids, and mom. I could not asked for better professionalism
                or a more attentive person for my bridal beauty needs. Theresa
                ensured I was confident through every step of preparations; and, she
                exceeded my expectations on wedding day."
            </h5>
            <h5 class="text-right">--Erica</h5>
        </div>
        -->

       {{ partial "footer.html" . }} 