{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">

            <div class="row mb-5">
                <div class="ml-3">
                    <p>
                       Theresa Burden Makeup Artistry offers makeup services performed by
                       a licensed esthetician. Makeup services are customized from start
                       to finish, utilizing a customized luxury skin prep process with an
                       emphasis on creating a look as beautiful and unique as you!
                    </p>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-lg-6 pr-4">
                    <h3>Makeup</h3>
                    <p>
                    Makeup Services are available for commercial, headshots, photo shoots, special events, and select weddings.
                    Time allotted for this service is 60-75 minutes. Extra time may be allotted for bridal and first time appointments. Makeup services start at 200.
                    </p>
                    <p>
                    Makeup services include:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        A pre-service consultation so the artist can fully understand your vision
                        </li> 
                        <li>
                        Luxury skin prep with a mini-facial to create balanced skin and ensure a smooth canvas for a skin-like finish
                        </li> 
                        <li>
                        Longwearing, personalized makeup that stays true to you
                        </li>
                        <li>
                        Customized temporary eyelashes
                        </li>
                    </ul>
                    <p class="text-center mb-0">
                        <!-- <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> for availability today! -->
                        <a class="btn btn-primary font-weight-bold" target="blank" href="./contact.html">CONTACT</a>
                    </p>
                    <p class="text-center">
                        for availability today!
                    </p>
                    <h5 class="mt-5 fullQuote font-italic font-weight-bold">
                    “My makeup turned out better than I could have imagined. Her expertise made it a stress-free experience. I would recommend her to anyone!”
                    </h5>
                    <h5 class="fullQuote font-italic font-weight-bold">
                    -- Liz A
                    </h5>
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/clean_beauty.JPG" alt="Clean bridal beauty">
                    <p class="text-center photoCredit">Blissmore Photography</p>
                </div>
                
            </div>

            <div class="row">
                <div class="col-lg-6 pr-4">
                    <h3>Grooming</h3>
                    <p>
                    Grooming services are available for commercial headshots, photo shoots, special events, and select weddings.
                    Time allotted for this service is 15-30 minutes. Grooming services start at 100.
                    </p>
                    <p>
                    Grooming services include:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Luxury skin prep with a mini-facial to create balanced skin and ensure a smooth canvas for undetectable makeup
                        </li>
                        <li>
                        Light Makeup. undetectable makeup coverage for redness, dark circles
                        </li>
                        <li>
                        Brow and beard fill with a natural finish
                        </li>
                    </ul>
                    <p class="text-center mb-0">
                        <!-- <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> for availability today! -->
                        <a class="btn btn-primary font-weight-bold" target="blank" href="./contact.html">CONTACT</a>
                    </p>
                    <p class="text-center">
                        for availability today!
                    </p>
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/red_velvet_groom.jpg" alt="Groom in red velvet">
                    <p class="text-center photoCredit">Michael Jacobs Photography</p>
                </div>
            </div>


        </div>

       {{ partial "footer.html" . }} 