{{ partial "header.html" . }}
        <div class="container text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container mb-5">
            <div class="row justify-content-center">
                <p>Krista specializes in natural and soft glamorous makeup and elegant hair styles.</p>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <p>Click to Enlarge Photo</p>
            </div>
        </div>

        <div id="galleryGrid" class="container popup-gallery">
            <!-- Row 1 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/traditional-bridal-makeup.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/traditional-bridal-makeup.jpg" alt="Traditional bridal makeup">
                    </a>
                </div>
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/timeless-bridal-makeup.jpg" title="" photographer="Blair Timberlake Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/timeless-bridal-makeup.jpg" alt="Timeless bridal makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/blue-eye-shadow.jpg" title="" photographer="Marie Killen Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/blue-eye-shadow.jpg" alt="Blue eye shadow makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/criss-cross-updo.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/criss-cross-updo.jpg" alt="Criss cross updo">
                    </a>
                </div>
            </div>

            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/golden-eye-shadow-makeup.jpg" title="" photographer="Diora Media">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/golden-eye-shadow-makeup.jpg" alt="Golden eye shadow">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/glamour-red-lip.jpg" title="" photographer="Dr Cowlick Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/glamour-red-lip.jpg" alt="Red lipstick makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/flower-petals-on-eyes.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/flower-petals-on-eyes.jpg" alt="Flower petals on eyes">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/hannah-kepple-makeup.jpg" title="" photographer="Marie Killen Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/hannah-kepple-makeup.jpg" alt="Hannah Kepple makeup">
                    </a>
                </div>
            </div>

            <div class="row">
                <!-- crop out watermark -->
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/hannah-k-in-garden.jpg" title="" photographer="Marie Killen Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/hannah-k-in-garden.jpg" alt="Hannah Kepple in garden">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/beautiful-southern-bride.jpg" title="" photographer="Tiffany Johnson Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/beautiful-southern-bride.jpg" alt="Beautiful southern bride">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/updo-with-pearls.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/updo-with-pearls.jpg" alt="Updo hairstyle with pearls">
                    </a>
                </div>
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/spring-bride-makeup.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/spring-bride-makeup.jpg" alt="Spring bridal makeup">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/makeup-for-blue-eyes.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/makeup-for-blue-eyes.jpg" alt="Makeup for blue eyes">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/beautiful-skin-makeup.jpg" title="" photographer="Marie Killen Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/beautiful-skin-makeup.jpg" alt="Beautiful skin makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/ethereal-makeup.jpg" title="" photographer="Marie Killen Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/ethereal-makeup.jpg" alt="Sparkle Eyes - ethereal">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural-bridal-makeup-morning.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural-bridal-makeup-morning.jpg" alt="Natural bridal makeup morning">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/princess-updo.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/princess-updo.jpg" alt="Princess updo hairstyle">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/summer-makeup.jpg" title="" photographer="RTP Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/summer-makeup.jpg" alt="Summer makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/smoky-eyes-glossy-lip.jpg" title="" photographer="Natasha Johnson Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/smoky-eyes-glossy-lip.jpg" alt="Makeup with smoky eyes and glossy lip">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/soft-glam-makeup.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/soft-glam-makeup.jpg" alt="Soft glam makeup">
                    </a>
                </div>
            </div>

            <!-- Row 5 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/soft-smoky-eye.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/soft-smoky-eye.jpg" alt="Makeup with soft smoky eye">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/low-boho-bun.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/low-boho-bun.jpg" alt="Low boho bun hairstyle">
                    </a>
                </div>
                
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/70s-inspired-makeup.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/70s-inspired-makeup.jpg" alt="70s inspired makeup">
                    </a>
                </div>

                
                
            </div>

            <div class="row">
                
                

            </div>
        </div>

       {{ partial "footer.html" . }} 