<!doctype html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <!-- <link rel="stylesheet" href="bootstrap.css"> -->
            <link rel="stylesheet" href="css/styles.css">

            <!-- Magnific Popup core CSS file -->
            <link rel="stylesheet" href="css/magnific-popup.css">

            <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
            
            <title>Theresa Burden Makeup Artistry - Gallery</title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="icon" type="image/png" href="img/Icons/favicon.png" />
            <meta name="description" content="Theresa Burden Makeup Artistry - Makeup Gallery" />
            <meta name="keywords" content="theresa burden, raleigh makeup artist, cary makeup artist, makeup artist, art, artist, wedding, drawing, bridal, raleigh, cary, north carolina, nc, apex, durham, triangle" />
            <meta name="robots" content="index,follow" />
            <meta name="author" content="Theresa Burden, Joseph Jarriel" />
            <meta property="og:image" content="img/about/makeupartist-1.jpg" />
            <meta property="og:description" content="Theresa Burden Makeup Artistry - Makeup Gallery" />
            <meta property="og:url"content="http://www.theresaburden.com/gallery.html" />
            <meta property="og:title" content="Theresa Burden Makeup Artistry - Gallery" />

    </head>
    <body>

    <div class="mb-5">
        </div>

        <div class="container text-center border border-periwinkle border-top-0 border-right-0 border-left-0 mb-5" id="siteHeader">
            <!-- Different sized headers for mobile -->
            <h1 class="display-4 d-none d-sm-block font-weight-bold"><a href="./">THERESA BURDEN</a></h1>
            <h1 class="display-5 d-sm-none font-weight-bold"><a href="./">THERESA BURDEN</a></h1>
            <h4 class="display-5 d-none d-sm-block mb-5"><a href="./">makeup artistry</a></h4>
            <h4 class="display-5 d-sm-none mb-5"><a href="./">makeup artistry</a></h4>

            <!--TODO: https://stackoverflow.com/questions/21465618/is-it-possible-to-use-twitter-bootstraps-navbar-fix-to-top-only-on-mobile-devic -->
            <nav class="navbar navbar-expand-md bg-white navbar-light" id="siteNav">
                <!-- <a class="navbar-brand d-md-none" href="#">Home</a> -->
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#collapsibleNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNav">
                    <ul class="navbar-nav container justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link" href="./gallery.html">GALLERY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./ovations.html">OVATIONS</a>
                        </li>
                        <li class="navr-item">
                            <a class="nav-link" href="./contact.html">CONTACT</a>
                        </li>
                        <li class="navr-item">
                            <a class="nav-link" href="./faq.html">FAQ</a>
                        </li>
                        <li class="navr-item">
                            <a class="nav-link" href="./about.html">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./community.html">COMMUNITY</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container mb-5 text-center pageHeader">
            <h2>GALLERY</h2>
        </div>

        <div id="galleryGrid" class="container popup-gallery">

            <!-- Row 1 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Alex-Bride.jpg" title="" photographer="Silver Feather Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Alex-Bride-th.jpg" alt="Alex Bride">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/UltraViolet-Wedding-2.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/UltraViolet-Wedding-2-th.jpg" alt="UltraViolet Wedding Couple">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bride-with-mom.jpg" title="" photographer="Lundie's Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bride-with-mom.jpg" alt="Blushing Brides">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Lyly-Party.jpg" title="" photographer="Story and Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Lyly-Party.jpg" alt="Lyly's Wedding Party in Raleigh">
                    </a>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Lanisa-323.jpg" title="" photographer="Ana Teresa Galizes">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Lanisa-323.jpg" alt="Bride and Groom">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-bride-2.jpg" title="" photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-bride-2.jpg" alt="Natural Looking Wedding Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/kacey-and-mike-flowers.jpg" title="" photographer="Something Blue Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/kacey-and-mike-flowers.jpg" alt="Kacey and Mike with flowers">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4 order-1 order-md-4">
                    <a href="img/gallery/kelly.jpg" title="" photographer="Photo by Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/kelly.jpg" alt="Bridal Styled Shoot">
                    </a>
                </div>
            </div>

            <!-- Row 3 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/inman-wedding-01.jpg" title="" photographer="Maria Estes Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/inman-wedding-01.jpg" alt="The Inman wedding">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-bridal-scene.jpg" 
                       title=""
                       photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-bridal-scene.jpg" alt="Styled shoot with a natural glam look">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Game-Of-Thrones-Wedding.jpg" title="" photographer="Kivus &amp; Camera">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Game-Of-Thrones-Wedding-th.jpg" alt="Game of Thrones Wedding">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Lyly-Bridal.jpg" title="" photographer="Story and Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Lyly-Bridal.jpg" alt="Lyly's Bridal Makeup in Raleigh">
                    </a>
                </div>

            </div>


            <!-- Row 4 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Krystal.png" title="" photographer="Doug Fry Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Krystal.png" alt="Krystal's Wedding in Apex, NC.">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Chanell-1.jpg" title="" photographer="Story and Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Chanell-1.jpg" alt="Chanell's graduation">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/michelle-wedding.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/michelle-wedding.jpg" alt="Michelle's Bridal Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bride-groom.jpg" title="" photographer="Ana Teresa Galizes">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bride-groom.jpg" alt="Bridal makeup with groom">
                    </a>
                </div>
            </div>

            <!-- Row 5 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Kelly-123.jpg" title="" photographer="Story and Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Kelly-123.jpg" alt="Wind blown photoshoot">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/makeup-on-group.jpg" title="" photographer="Lundie's Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/makeup-on-group.jpg" alt="Group with smokey eyes">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-bride.jpg" 
                       title=""
                       photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-bride.jpg" alt="Natural makeup during styled shoot">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/krystal.jpg" title="" photographer="Doug Fry Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/krystal.jpg" alt="Krystal Wedding Makeup in Downtown Raleigh">
                    </a>
                </div>
            </div>

            <!-- Row 6 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/just-married-love.jpg" title="" photographer="Ana Teresa Galizes">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/just-married-love.jpg" alt="Glowing bridal makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/black-and-white-boho.jpg" title="" photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/black-and-white-boho.jpg" alt="Black and white styled shoot photo">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mary-and-sasha.jpg" title="" photographer="Neil Boyd Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mary-and-sasha.jpg" alt="Mary and Sasha photo">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/michelle-wedding-4.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/michelle-wedding-4.jpg" alt="Michelle's wedding">
                    </a>
                </div>
            </div>


            <!-- Row 7 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/blonde-bride-boho.jpg" 
                       title=""
                       photographer="MC Photography">
                        <img class="img-fluid lazyload" 
                             data-src="img/gallery/thumb/blonde-bride-boho.jpg" 
                             alt="Blonde with contouring">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/just-married.jpg" title="" photographer="Sarah Warden Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/just-married.jpg" alt="Just married">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/lana-cake.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/lana-cake-th.jpg" alt="Lana with her Wedding Cake">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/groom-and-groomsman.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/groom-and-groomsman-th.jpg" alt="Groom and Groomsman">
                    </a>
                </div>
            </div>
            

            <!-- Row 8 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/lanisa-getting-ready.jpg" title="" photographer="Ana Teresa Galizes">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/lanisa-getting-ready.jpg" alt="Lanisa with her wedding dress">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/kacey-and-mike-03.jpg" title="" photographer="Something Blue Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/kacey-and-mike-03.jpg" alt="Kacey and Mike's wedding">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/lindsey-solo.jpg" title="" photographer="Heidi Bee Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/lindsey-solo.jpg" alt="Lindsey bridal solo">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/UltraViolet-Wedding-1.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/UltraViolet-Wedding-1-th.jpg" alt="Lindsey bridal solo">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/shoot-cropped.jpeg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/shoot-cropped-th.jpeg" alt="MC Photography">
                    </a>
                </div>
            </div>

            <div class="row">
            </div>

        </div>

        <div class="container-fluid" id="seaFoamFooter">
            <!--social media badges-->
            <div class="container">
                <div class="row pt-5 pb-5 justify-content-center">
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="https://instagram.com/theresaburdenbeauty/">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/instagram-cropped.png" alt="instagram link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="http://www.facebook.com/theresaburdenbeauty">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/facebook-cropped.png" alt="facebook link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="https://plus.google.com/u/0/113612275164670243486">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/gplus-cropped.png" alt="google plus link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="https://www.pinterest.com/theresaburdenbeauty/">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/pinterest-cropped.png" alt="pinterest link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!--copyright -->
        <div id="copyright" class="container">
            <div class="mt-5 container text-center">
                <p>Apex, North Carolina | <a class="seaFoamContact font-weight-bold" href="tel:+19197571819">919-757-1819</a> | © Theresa Burden 2018</p>
            </div>
        </div>

        

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <!-- Magnific Popup core JS file -->
        <script src="js/jquery.magnific-popup.js"></script>

        <!-- Lazyload JS file -->
        <script src="js/lazyload.js"></script>

        <!-- Custom js -->
        <script src="js/gallery.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>