{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">

            <div class="row mb-5">
                <div class="ml-3">
                    <p>
                    Join experienced makeup artists Davisha Dadone and Theresa Burden (with over 45 years of combined experience!) for a hands-on class that breaks down eye makeup, skin prep, and complexion techniques.
                    </p>
                </div>
            </div>

            <div class="row pb-5 mb-5">
                <div class="col-lg-6 pr-4">
                    <h3>Eyes & Skin: Beyond the Trends</h3>
                    <p>
                    $275
                    </p>
                    <p>
                    You’ll learn the “why” behind each step, gaining the confidence to enhance your natural beauty. Makeup doesn’t have to be complicated to be effective—sign up and elevate your skills in a supportive environment!
                    </p>
                    <p>
                    Date: Sunday, October 27, 2024 <br/>
                    Location: Apex, NC (Full Address will be sent after booking) <br/>
                    Time: 2-4 PM (Please arrive 15 minutes early)
                    </p>
                    <p>
                    Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        effortless no-makeup makeup techniques
                        </li> 
                        <li>
                        how to bring impact to your unique eye shape
                        </li>
                        <li>
                        how to prep the skin
                        </li>
                        <li>
                        how to create skin like makeup
                        </li>
                        <li>
                        a gift included!
                        </li>
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/670ef12775ddaf003ab31cf2/schedule">BOOK NOW</a>
                    </p>
                    <p class="text-center mt-3">
                    SPACE IS LIMITED! <br />
                    Registration ends on October 23
                    </p>
                </div>
                <!-- TODO: Add Ageless Beauty Picture -->
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/group-class.jpg" alt="Eyes and Skin Group Class">
                </div>
            </div>

            <div class="row pb-5 mb-5">
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/davisha-bio.jpg" alt="Davisha Makeup Artist Bio">
                </div>
                <div class="col-lg-6 pr-4">
                    <h3>Davisha Dadone</h3>
                    <p>
                    Davisha has been a professional makeup artist since the early '90s and recently made the move from NYC to The Triangle.
                    With a background as an educator for both MAC and Make Up For Ever among others, she’s taught thousands of clients how to embrace their own unique beauty, and taught hundreds of professional artists how to provide the same for their clients.
                    Now, as a Union artist for film and commercials, you’ve probably already seen her amazing work on your TV!
                    </p>
                    <p>
                    <a href="https://www.davishadadone.com/" target="_blank">https://www.davishadadone.com/</a>
                    </p>
                </div>
            </div>

            <div class="row pb-5 mb-5">
                <div class="col-lg-6 pr-4">
                    <h3>Theresa Burden</h3>
                    <p>
                    Theresa is a licensed esthetician and classically trained makeup artist who has expanded on her background in art and design with a commitment to the art of makeup.
                    With a variety and depth of education and master classes in all aspects of the face for every age and skin tone, she views each face through an artistic lens, applying her creativity and knowledge to enhance natural beauty.
                    Specializing in beauty makeup, Theresa is dedicated to bringing out her clients' best features with skill and care, with an emphasis on excellent client relationships.
                    </p>
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/theresa-bio.jpg" alt="Theresa Makeup Artist Bio">
                </div>
            </div>
            
        </div>

       {{ partial "footer.html" . }}