{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <p>Click to Enlarge Photo</p>
            </div>
        </div>

        <div id="galleryGrid" class="container popup-gallery">

            <!-- Row 2 -->
            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mary-helen-beauty.jpg" title="" photographer="Photo by Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mary-helen-beauty.jpg" alt="Mary Helen Beauty">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/glass_avenue_model.jpg" title="" photographer="Glass Avenue Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/glass_avenue_model.jpg" alt="Glass Avenue Model">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/senior_portraits.JPG" title="" photographer="Photo by Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/senior_portraits.JPG" alt="Senior Portrait Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarieondriveway.jpg" title="" photographer="Photo by Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarieondriveway.jpg" alt="Roarie on Driveway">
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mgc-fashion-3.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mgc-fashion-3.jpg" alt="MGC Fashion 3">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mgc-fashion-2.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mgc-fashion-2.jpg" alt="MGC Fashion 2">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mgc-fashion.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mgc-fashion.jpg" alt="MGC Fashion">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mgc-fashion-5.JPG" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mgc-fashion-5.JPG" alt="MGC Fashion 5">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarie-red-1.jpg" title="" photographer="Marie Killen">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarie-red-1.jpg" alt="Roarie Red 1">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarie-red-2.jpg" title="" photographer="Marie Killen">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarie-red-2.jpg" alt="Roarie Red 2">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/kelly.jpg" title="" photographer="Photo by Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/kelly.jpg" alt="Bridal Styled Shoot">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/heather-beauty.jpeg" title="" photographer="Smith Hardy Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/heather-beauty.jpeg" alt="Heather Beauty Makeup">
                    </a>
                </div>
            </div>


            <div class="row">

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/kiki-beauty.jpeg" title="" photographer="Smith Hardy Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/kiki-beauty.jpeg" alt="Kiki Beauty Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mature-beauty.jpeg" title="" photographer="Smith Hardy Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mature-beauty.jpeg" alt="Mature Beauty Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/pretty-in-pink-group.jpeg" title="" photographer="Smith Hardy Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/pretty-in-pink-group.jpeg" alt="Pretty in Pink Group Beauty">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/photoshoot_raleigh_nc.JPG" title="" photographer="Brittany Terris Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/photoshoot_raleigh_nc.JPG" alt="Raleigh Photoshoot">
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/beauty-shoot-durham.jpg" title="" photographer="J Clark Images">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/beauty-shoot-durham.jpg" alt="Durham Beauty Shoot">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mgc-fashion-4.JPG" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mgc-fashion-4.JPG" alt="MGC Fashion 4">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/raleigh-photoshoot-makeup.JPG" title="" photographer="Fifty Two Hundred Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/raleigh-photoshoot-makeup.JPG" alt="Raleigh Photoshoot Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural_headshot_makeup.JPG" title="" photographer="Lindsay Aikmen Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural_headshot_makeup.JPG" alt="natural headshot makeup">
                    </a>
                </div>
            </div>
        </div>


       {{ partial "footer.html" . }} 