{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container mb-5">
            <div class="row">
                <div class="col-md-6 pr-4 border border-periwinkle border-top-0 border-bottom-0 border-left-0">
                    <p> 
                        <span class="font-weight-bold fancyStart">F</span>rom a young age, Theresa
                        has always enjoyed
                        expressing herself through many forms of art. She
                        spent many hours immersed in her sidewalk chalk
                        art as a young person.
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <img class="img-fluid mb-5" src="./img/about/sidewalk-cropped.jpg" alt="Theresa's sidewalk art">
                        </div>
                    </div>
                    <p>
                        The passion of makeup artistry first ignited when
                        she was pursuing her art degree at the University
                        of North Carolina in Asheville. Portraits were
                        her senior focus, utilizing chalk as the medium of
                        choice once again. She always enjoyed applying
                        the makeup to the portrait drawings. As her senior
                        thesis was coming to a close, she started to dabble
                        in costume makeup.
                    </p>
                    <img class="img-fluid" src="./img/about/gallery.jpg" alt="Alter Ego Art Show">
                    <p class="text-center font-italic photoCredit mb-5">Senior Art Show at UNCA 2010</p>
                    <p>
                        After school, she started working and training in
                        makeup at Sephora. She loved learning all about
                        skin care, makeup, and working with a wide variety
                        of clientele. After about a year at Sephora, Theresa
                        knew she had found her calling and so she attained
                        an Esthetics License with the state of North Carolina.
                    </p>
                </div>

                <div class="mt-md-5 col-md-6 pl-4">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <img class="img-fluid mb-5" src="./img/about/theresa-makeup.jpg" alt="Theresa Makeup Artist">
                        </div>
                    </div>
                    <p>
                        Her continued education includes adventures to makeup shows and conventions in different areas in the US from the east to west coast. 
                        She receives training from various Master Artists. 
                        In her eagerness to improve her craft, she hopes to someday travel to Paris, 
                        France and visit the headquarters of her most loved professional makeup brand, Viseart.
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <img class="img-fluid" src="./img/about/makeupartist-2.png" alt="Theresa's Makeyp VMA">
                            <p class="text-center font-italic font-italic photoCredit mb-5">VMA Studios</p>
                        </div>
                    </div>
                    <p>
                        Theresa’s background in art and design allows
                        her to see faces through an artistic lens. All
                        of her knowledge from being an artist greatly
                        informs the techniques and creativity of makeup
                        applications. With each new face as a fresh
                        canvas, she strives to create a unique look for
                        each person that reflects their personal style,
                        creating a timeless, original work of art. 
                    </p>
                    <p>
                        <a href="./contact.php" target="blank" class="seaFoamContact font-weight-bold">Contact</a> Theresa to begin your beauty
                        journey together.
                    </p>
                </div>
            </div>
        </div>

       {{ partial "footer.html" . }} 