<!doctype html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <!-- <link rel="stylesheet" href="bootstrap.css"> -->
            <link rel="stylesheet" href="css/styles.css">

            <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
            
            <title>Theresa Burden Makeup Artistry - About</title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="icon" type="image/png" href="img/Icons/favicon.png" />
            <meta name="description" content="Theresa Burden Makeup Artistry - About the Artist" />
            <meta name="keywords" content="theresa burden, raleigh makeup artist, cary makeup artist, makeup artist, art, artist, wedding, drawing, bridal, raleigh, cary, north carolina, nc, apex, durham, triangle" />
            <meta name="robots" content="index,follow" />
            <meta name="author" content="Theresa Burden, Joseph Jarriel" />
            <meta property="og:image" content="img/about/makeupartist-1.jpg" />
            <meta property="og:description" content="Theresa Burden Makeup Artistry - About the Artist" />
            <meta property="og:url"content="http://www.theresaburden.com/about.html" />
            <meta property="og:title" content="Theresa Burden Makeup Artistry - About the Artist" />

    </head>
    <body>

    <div class="mb-5">
        </div>

        <div class="container text-center border border-periwinkle border-top-0 border-right-0 border-left-0 mb-5" id="siteHeader">
            <!-- Different sized headers for mobile -->
            <h1 class="display-4 d-none d-sm-block font-weight-bold"><a href="./">THERESA BURDEN</a></h1>
            <h1 class="display-5 d-sm-none font-weight-bold"><a href="./">THERESA BURDEN</a></h1>
            <h4 class="display-5 d-none d-sm-block mb-5"><a href="./">makeup artistry</a></h4>
            <h4 class="display-5 d-sm-none mb-5"><a href="./">makeup artistry</a></h4>

            <!--TODO: https://stackoverflow.com/questions/21465618/is-it-possible-to-use-twitter-bootstraps-navbar-fix-to-top-only-on-mobile-devic -->
            <nav class="navbar navbar-expand-md bg-white navbar-light" id="siteNav">
                <!-- <a class="navbar-brand d-md-none" href="#">Home</a> -->
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#collapsibleNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNav">
                    <ul class="navbar-nav container justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link" href="./gallery.html">GALLERY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./ovations.html">OVATIONS</a>
                        </li>
                        <li class="navr-item">
                            <a class="nav-link" href="./contact.html">CONTACT</a>
                        </li>
                        <li class="navr-item">
                            <a class="nav-link" href="./faq.html">FAQ</a>
                        </li>
                        <li class="navr-item">
                            <a class="nav-link" href="./about.html">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./community.html">COMMUNITY</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container mb-5 text-center pageHeader">
            <h2>ABOUT</h2>
        </div>

        <div class="container mb-5">
            <div class="row">
                <div class="col-md-6 pr-4 border border-periwinkle border-top-0 border-bottom-0 border-left-0">
                    <p> 
                        <span class="font-weight-bold fancyStart">F</span>rom a young age, Theresa
                        has always enjoyed
                        expressing herself through many forms of art. She
                        spent many hours immersed in her sidewalk chalk
                        art as a young person.
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <img class="img-fluid mb-5" src="./img/about/sidewalk-cropped.jpg" alt="Theresa's sidewalk art">
                        </div>
                    </div>
                    <p>
                        The passion of makeup artistry first ignited when
                        she was pursuing her art degree at the University
                        of North Carolina in Asheville. Portraits were
                        her senior focus, utilizing chalk as the medium of
                        choice once again. She always enjoyed applying
                        the makeup to the portrait drawings. As her senior
                        thesis was coming to a close, she started to dabble
                        in costume makeup.
                    </p>
                    <img class="img-fluid" src="./img/about/gallery.jpg" alt="Alter Ego Art Show">
                    <p class="text-center font-italic photoCredit mb-5">Senior Art Show at UNCA 2010</p>
                    <p>
                        After school, she started working and training in
                        makeup at Sephora. She loved learning all about
                        skin care, makeup, and working with a wide variety
                        of clientele. After about a year at Sephora, Theresa
                        knew she had found her calling and so she attained
                        an Esthetics License with the state of North Carolina.
                    </p>
                </div>

                <div class="mt-md-5 col-md-6 pl-4">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <img class="img-fluid mb-5" src="./img/about/makeupartist-1.jpg" alt="Theresa Makeup Artist">
                        </div>
                    </div>
                    <p>
                        Her continued education includes adventures to
                        makeup shows and conventions as far as New
                        York City. She receives training from Master
                        Artists. In her eagerness to improve her craft, she
                        hopes to someday travel to Paris, France and visit
                        the headquarters of her most loved professional
                        brand, Viseart.
                    
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <img class="img-fluid" src="./img/about/makeupartist-2.png" alt="Theresa's Makeyp VMA">
                            <p class="text-center font-italic font-italic photoCredit mb-5">VMA Studios</p>
                        </div>
                    </div>
                    <p>
                        Theresa’s background in art and design allows
                        her to see faces through an artistic lens. All
                        of her knowledge from being an artist greatly
                        informs the techniques and creativity of makeup
                        applications. With each new face as a fresh
                        canvas, she strives to create a unique look for
                        each person that reflects their personal style,
                        creating a timeless, original work of art. 
                    </p>
                    <p>
                        <a href="./contact.php" target="blank" class="seaFoamContact font-weight-bold">Contact</a> Theresa to begin your beauty
                        journey together.
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="seaFoamFooter">
            <!--social media badges-->
            <div class="container">
                <div class="row pt-5 pb-5 justify-content-center">
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="https://instagram.com/theresaburdenbeauty/">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/instagram-cropped.png" alt="instagram link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="http://www.facebook.com/theresaburdenbeauty">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/facebook-cropped.png" alt="facebook link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="https://plus.google.com/u/0/113612275164670243486">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/gplus-cropped.png" alt="google plus link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="https://www.pinterest.com/theresaburdenbeauty/">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/pinterest-cropped.png" alt="pinterest link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!--copyright -->
        <div id="copyright" class="container">
            <div class="mt-5 container text-center">
                <p>Apex, North Carolina | <a class="seaFoamContact font-weight-bold" href="tel:+19197571819">919-757-1819</a> | © Theresa Burden 2018</p>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>