{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">

            <div class="row mb-5">
                <div class="ml-3">
                    <h3>Makeup is the wardrobe for your face. Let’s dress it up!</h3>
                    <p>
                    Makeup stores can be extremely overwhelming and honestly, pretty filthy.
                    Come try out products in a quiet, sanitary environment *with the perfect lighting* and fall in love with and what works with your unique color palette, face and eye shape, lifestyle, and wardrobe. 
                    </p>
                    <p>
                    Looking for wardrobe styling and a makeup transformation? Check out who I partnered up with below to help you transform from head to toe!
                    </p>
                </div>
            </div>

            <div class="row mb-5 pb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Beauty Blueprint</h3>
                    <p>
                    4 Hours................475
                    </p>
                    <span class="font-weight-bold">Wardrobe styling for your face</span>
                    <p>
                    In depth styling for your face.
                    Discovering skincare for your skin type, eye shadow colors, lip, blush, bronzer and foundation shades and finishes.
                    </p>
                    <p>
                    Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Understand your skin and give it what it needs to look gorgeous with or without makeup
                        </li> 
                        <li>
                        Have a great understanding of color for your complexion and under eyes
                        </li>
                        <li>
                        Find the shades that work well to color correct dark circles and your foundation match
                        </li>
                        <li>
                        Discover blush colors, bronzers, and other complexion products needed to complement the complexion, your wardrobe, and your lifestyle
                        </li>
                        <li>
                        Discover eye makeup products for your eye shape and eye color
                        </li>
                        <li>
                        Discover the best eye brow products to enhance them naturally 
                        </li>
                        <li>
                        Learn how to break the rules a bit and enjoy makeup!
                        </li>
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/65b712915199885a424568b5/schedule">BOOK NOW</a>
                    </p>
                    <h5 class="mt-5 fullQuote font-italic font-weight-bold">
                    "It was so much fun! I learned so much about how to pair colors with my favorite outfits and how to make decisions on colors and finishes to best suit me. Makeup is fun now and not overwhelming!"
                    </h5>
                    <h5 class="fullQuote font-italic font-weight-bold">
                    -- Marcy
                    </h5>
       
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/beauty-blueprint.jpg" alt="Makeup bag makeover class">
                </div>
            </div>
            <div class="row mb-5 pb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Makeup Bag Makeover</h3>
                    <p>
                    2 hours................275
                    </p>
                    <span class="font-weight-bold">The Ultimate Makeup Bag Edit and Refresh</span>
                    <p>
                    This is great if you need help finding replacements for old loves or if you just need help rounding out your kit with a few blushes or brushes!
                    </p>
                    <p>
                    Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Understand the best skin prep for makeup
                        </li>
                        <li>
                        Discover the best products for your face and eyes
                        </li>
                        <li>
                        Get a feel for how Sanitation works within your personal kit & Expiration dates for all products
                        </li> 
                    </ul>
                    <p>If additional time is needed, it will be billed at 75 per half hour</p>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/62532bc3e873248c72663281/schedule">BOOK NOW</a>
                    </p>
       
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/makeup_bag.jpg" alt="Makeup bag makeover class">
                </div>
                
            </div>



            <div class="row pb-5 mb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Total Image Transformation:</h3>
                    <h3>Wardrobe & Makeup Styling</h3>
                    <p>
                    Experience a complete makeover journey with <a class="seaFoamContact font-weight-bold" target="blank" href="https://refinedbytheresa.com/product/total-image-transformation/">Refined</a> and Theresa Burden Makeup Artistry.
                    We are merging our professional expertise in both makeup artistry and wardrobe styling to deliver an all-encompassing transformation.
                    From the depths of your closet to the corners of your makeup bag, every element is meticulously curated to mirror your unique personality and style.
                    Together, Refined and Theresa Burden create not just a makeover, but a harmonious fusion of fashion and beauty, customized entirely for you.
                    Embark on this transformative journey and embrace a new era of self-expression.
                    </p>
                    <p>
                    What's Included?
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Makeup bag makeover: get rid of what’s not working and curate a makeup bag that works for you.
                        </li>
                        <li>
                        Signature makeup lesson: 90 minute in-person session where you’ll discover the best makeup products for your face.
                        </li>
                        <li>
                        Closet Audit appointment: up to three hours editing your closet.
                        </li> 
                        <li>
                        Build new outfit combinations using the clothes you already own. Plus pics!
                        </li> 
                        <li>
                        Clothing removal.
                        </li> 
                        <li>
                        Style Identification service, including Look Book.
                        </li> 
                        <li>
                        Makeup service for clothes fitting or for event of your choice.
                        </li> 
                        <li>
                        Refined shops and delivers a new Capsule Collection of new styles to your desired location for a try-on.
                        </li> 
                        <li>
                        Learn about proper fit, tailoring, and how to look for quality in new items.
                        </li> 
                        <li>
                        Keep what you love and Refined will return pieces that don’t work.
                        </li> 
                        <li>
                        Receive follow up custom inspiration images, shoppable links to replacement styles, and ideas for styling each new purchase in multiple ways.
                        </li> 
                        <li>
                        Lifetime access to your personalized Refined Styling Profile.
                        </li> 
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://refinedbytheresa.com/product/total-image-transformation/">BOOK NOW</a>
                    </p>
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/total-image-transformation.jpg" alt="Makeup bag makeover class">
                </div>
                
            </div>

            <div class="row mb-5">
                <div class="col-lg-12 pr-4">
                    <p>
                    Please <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> me to inquire about group classes.
                    </p>
                    <p>
                    Not sure what class to take? Schedule a call with me!
                    </p>
                    <p class="text-center">
                    <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/61a42352c3753ffa025c55b5/schedule">SCHEDULE CALL</a>
                    </p>
                </div>
            </div>


            
            <!--
            <div class="row">
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.14/iframeResizer.min.js"></script><iframe src="https://hello.dubsado.com:443/public/appointment-scheduler/60a1ae3a1836eb57886776d1/schedule?isIframe=true" frameborder="0" style="width:1px; min-width:100%;"></iframe><script type="text/javascript">setTimeout(function(){iFrameResize({checkOrigin: false, heightCalculationMethod: "taggedElement"});}, 30)</script>

            </div>
            -->


        </div>

       {{ partial "footer.html" . }}