<div class="container border border-periwinkle border-bottom-0 border-right-0 border-left-0 mb-5 mt- pt-5" id="siteHeader">
<nav class="navbar navbar-expand-md bg-white navbar-light" id="siteNav">
    <!-- <a class="navbar-brand d-md-none" href="#">Home</a> -->
    <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavFooter">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="collapsibleNavFooter">
        <ul class="navbar-nav container justify-content-between">
            <!--
            <li class="nav-item">
                <a class="nav-link" href="./gallery.html">GALLERY</a>
            </li>
            -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ABOUT</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="./the-owner.html">THE OWNER</a>
                    <a class="dropdown-item" href="./faq.html">FAQ</a>
                    <a class="dropdown-item" href="./features.html">FEATURES</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="./makeup-services.html">SERVICES</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" href="./makeup-classes.html">CLASSES</a>
            </li>
            -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CLASSES</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="./makeup-classes.html">MAKEUP CLASSES</a>
                    <a class="dropdown-item" href="./makeup-class-bundles.html">MAKEUP CLASS BUNDLES</a>
                    <a class="dropdown-item" href="./personal-shopping.html">PERSONAL SHOPPING & MORE</a>
                    <a class="dropdown-item" href="./skin-care-classes.html">SKIN CARE CLASSES</a>
                    <a class="dropdown-item" href="./group-class.html">GROUP CLASS</a>
                </div>
            </li>

            <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">SERVICES</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="./makeup-services.html">MAKEUP SERVICES</a>
                    <a class="dropdown-item" href="./makeup-classes.html">MAKEUP CLASSES</a>
                </div>
            </li>
            -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">PORTFOLIOS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="./krista.html">KRISTA</a>
                    <a class="dropdown-item" href="./theresa.html">THERESA</a>
                    <a class="dropdown-item" href="./grooming.html">GROOMING</a>
                    <a class="dropdown-item" href="./before-and-after.html">BEFORE & AFTER</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="./reviews.html">REVIEWS</a>
            </li>

            <!--
            <li class="nav-item">
                <a class="nav-link" href="./about.html">ABOUT</a>
            </li>
            -->

            
            <li class="nav-item">
                <a class="nav-link" style="font-weight: 900;" href="./contact.html">CONTACT</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" style="font-weight: 900; color: #81c2ac" href="https://theresa-burden-makeup-artistry.myshopify.com/">SHOP</a>
            </li>

        </ul>
    </div>
</nav>
</div>

<div class="container-fluid" id="seaFoamFooter">
    <!--social media badges-->
    <div class="container">
        <div class="row pt-5 pb-5 justify-content-center">
            <div class="col-md-2 col-3">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <a target="blank" href="https://instagram.com/theresaburdenbeauty/">
                            <img class="img-fluid socialMediaImage" src="img/Icons/instagram-cropped.png" alt="instagram link icon">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-3">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <a target="blank" href="https://www.facebook.com/theresaburdenbeauty">
                            <img class="img-fluid socialMediaImage" src="img/Icons/facebook-cropped.png" alt="facebook link icon">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-3">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <a target="blank" href="https://www.pinterest.com/theresaburdenbeauty/">
                            <img class="img-fluid socialMediaImage" src="img/Icons/pinterest-cropped.png" alt="pinterest link icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--copyright -->
<div id="copyright" class="container">
    <div class="mt-5 container text-center">
        <p>Apex, North Carolina | <a class="seaFoamContact font-weight-bold" href="tel:+19197571819">919-757-1819</a> | theresaburden@gmail.com | © Theresa Burden 2024</p>
    </div>
</div>

{{ .Params.scripts | safeHTML }}

</body>
</html>