<div class="container-fluid" id="seaFoamFooter">
    <!--social media badges-->
    <div class="container">
        <div class="row pt-5 pb-5 justify-content-center">
            <div class="col-md-2 col-3">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <a target="blank" href="https://instagram.com/theresaburdenbeauty/">
                            <img class="img-fluid socialMediaImage" src="img/Icons/instagram-cropped.png" alt="instagram link icon">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-3">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <a target="blank" href="https://www.facebook.com/theresaburdenbeauty">
                            <img class="img-fluid socialMediaImage" src="img/Icons/facebook-cropped.png" alt="facebook link icon">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-3">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <a target="blank" href="https://www.pinterest.com/theresaburdenbeauty/">
                            <img class="img-fluid socialMediaImage" src="img/Icons/pinterest-cropped.png" alt="pinterest link icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--copyright -->
<div id="copyright" class="container">
    <div class="mt-5 container text-center">
        <p>Apex, North Carolina | <a class="seaFoamContact font-weight-bold" href="tel:+19197571819">919-757-1819</a> | theresaburden@gmail.com | © Theresa Burden 2019</p>
    </div>
</div>

{{ .Params.scripts | safeHTML }}

</body>
</html>