{{ partial "header.html" . }}

        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="img/homepage/UltraViolet-Wedding-2-cropped.jpg" alt="UltraViolet Wedding">
                                <p class="text-center photoCredit font-italic">Story &amp; Rhythm</p>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/homepage/lyly-cropped.jpeg" alt="Lyly Bridal Makeup Cary">
                                <p class="text-center photoCredit font-italic">Story &amp; Rhythm</p>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/homepage/two-cropped.jpeg" alt="Bridal Makeup and flowers">
                                <p class="text-center photoCredit font-italic">Doug Fry Photography</p>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/homepage/shoot-cropped.jpeg" alt="Chanell Bridal Makeup Raleigh">
                                <p class="text-center photoCredit font-italic">MC Photography</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Text content -->
        <div class="container text-justify mb-5">
            <div class="row justify-content-center">
                <div class="col-md-8 pb-4">
                    <div class="container mb-2 text-center pageHeader">
                        <h2>The Art of Beauty</h2>
                    </div>
                    <!-- <p class="lead text-center">This is a lead paragraph.  I guess the format is different or something?</p> -->
                    <p>
                        Like stars in the sky, every face is unique and the right makeup artist can help you shine from the inside out.  
                        Looking your best can transform your mood and confidence in a powerful way. 
                        Because of this, I understand that every detail of skin care and makeup application deserves careful consideration and must be customized to each person. 
                    </p>
                    <p>
                        Having your makeup done professionally is a very personal experience and you want to be sure you're in capable hands.  
                        As a licensed esthetician and classically trained makeup artist, it is of great importance to me to follow proper sanitation procedures, 
                        appropriate uses of skin care, and utilize specific makeup techniques to ensure a safe, beautiful, and long wearing application. 
                    </p>
                    <p>
                        At the heels of my specialized skills in esthetics and makeup artistry lies the practices and knowledge I’ve gained as a fine artist.  
                        Having these fine artistry skills greatly influence my approach to beauty as a makeup artist today. 
                        The knowledge prepares me for when I work on skin of various textures, types and tones as well as what tools I use and how I use them. 
                        The eyes, face, and lips are all carefully curated so that each client is transformed into a timeless masterpiece. 
                    </p>
                </div>
            </div>
        </div>

        <!-- badges -->
        <div class="container border border-periwinkle border-bottom-0 border-right-0 border-left-0 mb-5 pt-5 pb-5" id="homeBadges">
            <div class="row justify-content-center mb-5">
                <div class="col-md-3 col-4 text-center">
                    <a target="blank" href="https://www.facebook.com/TheresaBurdenBeauty/reviews/?__mref=message_bubble"><img class="img-fluid badgeImage" src="img/Icons/facebookrated-cropped.png" alt="Facebook Rated Badge"></a>
                </div>
                <div class="col-md-3 col-4 text-center">
                    <a target="blank" href="http://www.weddingwire.com/biz/theresa-burden-cary/498957b32481c30f.html"><img class="img-fluid badgeImage" src="img/Icons/weddingwire-cropped.png" alt="Wedding Wire Badge"></a>
                </div>
            </div>
            <div class="border border-periwinkle border-bottom-0 border-right-0 border-left-0 pt-5 row justify-content-center mb-5 ">
                <div class="col-md-3 col-4 text-center">
                    <a target="blank" href=" https://offbeatbride.com/game-of-thrones-wedding-inspiration/ "><img class="img-fluid badgeImage" width="300" src="http://offbeatbride.com/wp-content/blogs.dir/6/files/2010/11/Button-as-seen.png" alt="Offbeat Bride Badge"></a>
                </div>
                <div class="col-md-3 col-4 text-center">
                    <a target="blank" href="http://blacksouthernbelle.com/north-carolina-wedding-at-the-garner-house/"><img class="img-fluid badgeImage" src="img/Icons/blacksouthern-cropped.png" alt="Black Southern Belle Badge"></a>
                </div>
            </div>
        </div>

        <!-- blurb -->
        <!--
        <div class="container text-justify">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <small>Theresa Burden Makeup Artistry is a published and highly rated professional makeup artist providing art &amp; beauty services to the North Carolina Triangle and beyond.</small>
                    <small>Raleigh. Durham, Chapel Hill. Apex, Cary. Holly Springs. Willow Spring. Garner. Benson, Wake Forest.</small>
                </div>
            </div>
        </div>
        -->

        <div class="container mb-5">
            <p class="text-center">Theresa Burden Makeup Artistry provides professional services in the heart of North Carolina and beyond!</p>
            <p class="text-center">Raleigh | Apex | Durham | Cary | Chapel Hill | Holly Springs | Morrisville | Garner | Pittsboro | Clayton</p>
        </div>

       {{ partial "footer.html" . }} 
