{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <p>Click to Enlarge Photo</p>
            </div>
        </div>

        <div id="galleryGrid" class="container popup-gallery">
            <!-- Row 1 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/clean_beauty.JPG" title="" photographer="Blissmore Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/clean_beauty.JPG" alt="Clean Beauty">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal_makeup_nc.jpg" title="" photographer="Krista Stevens Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal_makeup_nc.jpg" alt="Bridal Makeup NC">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/wedding-profile-bride.jpeg" title="" photographer="Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/wedding-profile-bride.jpeg" alt="Bride Profile">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/East_Asian_Bridal_Makeup.jpg" title="" photographer="Richard Barlow Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/East_Asian_Bridal_Makeup.jpg" alt="East Asian Bridal Makeup">
                    </a>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/romantic_bridal_makeup.jpg" title="" photographer="Simone McAdams Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/romantic_bridal_makeup.jpg" alt="Romantic Bridal Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal-reflection-makeup.jpg" title="" photographer="VMA Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal-reflection-makeup.jpg" alt="Bridal Reflection Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural-lashes.jpeg" title="" photographer="September Photos Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural-lashes.jpeg" alt="Natural Lashes">
                    </a>
                </div>


                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/inman-wedding-01.jpg" title="" photographer="Maria Estes Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/inman-wedding-01.jpg" alt="The Inman wedding">
                    </a>
                </div>
                
            </div>

            <!-- Row 3 -->
            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/young_love.JPG" title="" photographer="Michael Jacobs Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/young_love.JPG" alt="Young Love">
                    </a>
                </div>
                

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Natural-Wedding-Makeup.jpg" title="" photographer="Arika Jordan Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Natural-Wedding-Makeup.jpg" alt="Natural Wedding Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal_elopement_brick.jpeg" title="" photographer="Simone McAdams Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal_elopement_brick.jpeg" alt="Bridal Elopement Brick">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/gothic_wig_makeup.jpg" title="" photographer="Caitlyn Nicole Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/gothic_wig_makeup.jpg" alt="Gothic Wig Makeup">
                    </a>
                </div>
                


            </div>


            <!-- Row 4 -->
            <div class="row">
                
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural-asian-wedding-makeup.JPG" title="" photographer="Whitney Gremaud Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural-asian-wedding-makeup.JPG" alt="Natural asian wedding makeup">
                    </a>
                </div>
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarie-blue.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarie-blue.jpg" alt="Roarie Blue Bride">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Oak-City-Bridal-2.jpg" title="" photographer="Arika Shelest Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Oak-City-Bridal-2.jpg" alt="Oak City Bridal 2">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/naomi-bride-leans.jpeg" title="" photographer="Nieto Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/naomi-bride-leans.jpeg" alt="Naomi Bride Leans">
                    </a>
                </div>

            </div>

            <!-- Row 5 -->
            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/same_sex_wedding.JPG" title="" photographer="Ariel Kaitlin Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/same_sex_wedding.JPG" alt="Same-Sex Wedding">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/UltraViolet-Wedding-1.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/UltraViolet-Wedding-1-th.jpg" alt="Lindsey bridal solo">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-bride.jpg" title="" photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-bride.jpg" alt="Natural makeup during styled shoot">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural_bridal_makeup_flowers.jpg" title="" photographer="MKM Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural_bridal_makeup_flowers.jpg" alt="Natural Bridal Makeup Flowers">
                    </a>
                </div>
            </div>

            <!-- Row 6 -->
            <div class="row">
                

                
            </div>


            <!-- Row 7 -->
            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural-bridal-makeup.jpg" title="" photographer="VMA Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural-bridal-makeup.jpg" alt="Natural Bridal Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Krystal.png" title="" photographer="Doug Fry Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Krystal.png" alt="Krystal's Wedding in Apex, NC.">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/butterfly-beauty.jpeg" title="" photographer="September Photos Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/butterfly-beauty.jpeg" alt="Butterfly Beauty">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Offbeat-Bride.jpg" title="" photographer="Kivus &amp; Camera">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Offbeat-Bride.jpg" alt="Offbeat Bride">
                    </a>
                </div>
                
            </div>

            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/maryhelen-red-beauty.jpeg" title="" photographer="Story & Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/maryhelen-red-beauty.jpeg" alt="Mary Helen Red Beauty">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/lana-cake.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/lana-cake-th.jpg" alt="Lana with her Wedding Cake">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Natural-Light-Bride.jpg" title="" photographer="Arika Jordan Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Natural-Light-Bride.jpg" alt="Natural Light Bride">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/rav-wedding.jpeg" title="" photographer="A.S. Nagpal Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/rav-wedding.jpeg" alt="Rav Wedding">
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-bride-2.jpg" title="" photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-bride-2.jpg" alt="Natural Looking Wedding Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/naomi-water-bridal-2.jpeg" title="" photographer="Nieto Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/naomi-water-bridal-2.jpeg" alt="Naomi Water Bridal 2">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/classic-bridal-makeup.jpg" title="" photographer="VMA Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/classic-bridal-makeup.jpg" alt="Classic Bridal Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/gold-and-blue-couple.jpeg" title="" photographer="September Photos Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/gold-and-blue-couple.jpeg" alt="Gold and Blue Couple">
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-wedding.jpg" title="" photographer="Sarah Joann Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-wedding.jpg" alt="Boho Wedding">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal-party.jpeg" title="" photographer="Amanda and Grady Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal-party.jpeg" alt="Bridal Party">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarie-white.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarie-white.jpg" alt="Roarie White Bride">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/all_aboard.JPG" title="" photographer="Michael Jacobs Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/all_aboard.JPG" alt="All aboard - Bridal">
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/lanisa-getting-ready.jpg" title="" photographer="Ana Teresa Galizes">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/lanisa-getting-ready.jpg" alt="Lanisa with her wedding dress">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bride_and_pup.JPG" title="" photographer="Mina Von Feilitzsch Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bride_and_pup.JPG" alt="Bride and Pup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Alex-Bride.jpg" title="" photographer="Silver Feather Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Alex-Bride-th.jpg" alt="Alex Bride">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/cotton_room_bride.JPG" title="" photographer="Mina Von Feilitzsch Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/cotton_room_bride.JPG" alt="Cottom Room Bride">
                    </a>
                </div>
            </div>
            <div class="row">

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/east_asian_wedding.JPG" title="" photographer="Live View Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/east_asian_wedding.JPG" alt="An East Asian Wedding">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/goth_bride_lake.jpg" title="" photographer="Caitlyn Nicole Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/goth_bride_lake.jpg" alt="Goth bride by the lake">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/makeup_and_veil.JPG" title="" photographer="Bliss More Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/makeup_and_veil.JPG" alt="Makeup and Veil">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/blonde-bride-boho.jpg" title="" photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/blonde-bride-boho.jpg" alt="Blonde with contouring">
                    </a>
                </div>
            </div>
            <div class="row">

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/individual_lashes.JPG" title="" photographer="Bliss More Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/individual_lashes.JPG" alt="Bride with individual lashes">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural_bridal_makeup.jpeg" title="" photographer="Mina von Feilitzsch Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural_bridal_makeup.jpeg" alt="Natural Bridal Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/walk_beside_me_wedding.JPG" title="" photographer="Michael Jacobs Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/walk_beside_me_wedding.JPG" alt="Walk Beside Me">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/maid_of_honor_helping.JPG" title="" photographer="Bliss More Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/maid_of_honor_helping.JPG" alt="Maid of Honor Helping">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/gothic_makeup.jpg" title="" photographer="Caitlyn Nicole Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/gothic_makeup.jpg" alt="Gothic Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal_beachy_waves.jpeg" title="" photographer="Russell-Killen Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal_beachy_waves.jpeg" alt="Bridal Beachy Waves">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/brides_over_30.jpeg" title="" photographer="Fancy This Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/brides_over_30.jpeg" alt="Brides Over 30">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/getting_ready_bride.jpeg" title="" photographer="Mina von Feilitzsch Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/getting_ready_bride.jpeg" alt="Getting Ready Bride">
                    </a>
                </div>
            </div>

            <div class="row">

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/asian_wedding_makeup.JPG" title="" photographer="Live View Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/asian_wedding_makeup.JPG" alt="Makeup for an asian wedding">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/beautiful_bradford_couple.jpg" title="" photographer="Mary Sheedy Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/beautiful_bradford_couple.jpg" alt="Beautiful Bradford Couple">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal_elopement.jpeg" title="" photographer="Simone McAdams Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal_elopement.jpeg" alt="Bridal Elopement">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bride-with-mom.jpg" title="" photographer="Lundie's Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bride-with-mom.jpg" alt="Blushing Brides">
                    </a>
                </div>
            </div>

            <div class="row">

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Asian_Bride.jpg" title="" photographer="Richard Barlow Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Asian_Bride.jpg" alt="Asian Bride">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/getting-ready.jpeg" title="" photographer="Ariel Kaitlin Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/getting-ready.jpeg" alt="getting ready">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mkm_photography.jpg" title="" photographer="MKM Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mkm_photography.jpg" alt="MKM Photography">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/kacey-and-mike-03.jpg" title="" photographer="Something Blue Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/kacey-and-mike-03.jpg" alt="Kacey and Mike's wedding">
                    </a>
                </div>
            </div>

            <div class="row">

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/happy_bride_jackie.jpg" title="" photographer="Simone McAdams Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/happy_bride_jackie.jpg" alt="Happy Bride Jackie">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/UltraViolet-Wedding-2.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/UltraViolet-Wedding-2-th.jpg" alt="UltraViolet Wedding Couple">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/raleigh_nc_makeup_artist.jpg" title="" photographer="Krista Stevens Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/raleigh_nc_makeup_artist.jpg" alt="Raleigh NC Makeup Artist">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/asian-bridal-makeup.JPG" title="" photographer="Whitney Gremaud Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/asian-bridal-makeup.JPG" alt="Asian bridal makeup">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Kate-Bride-1.jpg" title="" photographer="Maurice Hikes Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Kate-Bride-1.jpg" alt="Kate Bride">
                    </a>
                </div>
            </div>

        </div>

       {{ partial "footer.html" . }} 