{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div id="galleryGrid" class="container popup-gallery">
            <!-- Row 1 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Alex-Bride.jpg" title="" photographer="Silver Feather Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Alex-Bride-th.jpg" alt="Alex Bride">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/UltraViolet-Wedding-2.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/UltraViolet-Wedding-2-th.jpg" alt="UltraViolet Wedding Couple">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/wedding-profile-bride.jpeg" title="" photographer="Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/wedding-profile-bride.jpeg" alt="Bride Profile">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bride-with-mom.jpg" title="" photographer="Lundie's Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bride-with-mom.jpg" alt="Blushing Brides">
                    </a>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarie-white.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarie-white.jpg" alt="Roarie White Bride">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal-reflection-makeup.jpg" title="" photographer="VMA Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal-reflection-makeup.jpg" alt="Bridal Reflection Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural-lashes.jpeg" title="" photographer="September Photos Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural-lashes.jpeg" alt="Natural Lashes">
                    </a>
                </div>


                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/inman-wedding-01.jpg" title="" photographer="Maria Estes Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/inman-wedding-01.jpg" alt="The Inman wedding">
                    </a>
                </div>
                
            </div>

            <!-- Row 3 -->
            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/warren-estate.JPG" title="" photographer="Michael Jacobs Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/warren-estate.JPG" alt="Warren Estate Wedding">
                    </a>
                </div>
                

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Natural-Wedding-Makeup.jpg" title="" photographer="Arika Jordan Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Natural-Wedding-Makeup.jpg" alt="Natural Wedding Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/lanisa-getting-ready.jpg" title="" photographer="Ana Teresa Galizes">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/lanisa-getting-ready.jpg" alt="Lanisa with her wedding dress">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/blonde-bride-boho.jpg" title="" photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/blonde-bride-boho.jpg" alt="Blonde with contouring">
                    </a>
                </div>
                


            </div>


            <!-- Row 4 -->
            <div class="row">
                
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Kate-Bride-1.jpg" title="" photographer="Maurice Hikes Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Kate-Bride-1.jpg" alt="Kate Bride">
                    </a>
                </div>
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarie-blue.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarie-blue.jpg" alt="Roarie Blue Bride">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Oak-City-Bridal-2.jpg" title="" photographer="Arika Shelest Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Oak-City-Bridal-2.jpg" alt="Oak City Bridal 2">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/naomi-bride-leans.jpeg" title="" photographer="Nieto Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/naomi-bride-leans.jpeg" alt="Naomi Bride Leans">
                    </a>
                </div>

            </div>

            <!-- Row 5 -->
            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/North-Carolina-Makeup-Artist.jpg" title="" photographer="Morgan Caldwell Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/North-Carolina-Makeup-Artist.jpg" alt="North Carolina Makeup Artist">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/UltraViolet-Wedding-1.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/UltraViolet-Wedding-1-th.jpg" alt="Lindsey bridal solo">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-bride.jpg" title="" photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-bride.jpg" alt="Natural makeup during styled shoot">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/kacey-and-mike-03.jpg" title="" photographer="Something Blue Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/kacey-and-mike-03.jpg" alt="Kacey and Mike's wedding">
                    </a>
                </div>
            </div>

            <!-- Row 6 -->
            <div class="row">
                

                
            </div>


            <!-- Row 7 -->
            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural-bridal-makeup.jpg" title="" photographer="VMA Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural-bridal-makeup.jpg" alt="Natural Bridal Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Krystal.png" title="" photographer="Doug Fry Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Krystal.png" alt="Krystal's Wedding in Apex, NC.">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/butterfly-beauty.jpeg" title="" photographer="September Photos Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/butterfly-beauty.jpeg" alt="Butterfly Beauty">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Offbeat-Bride.jpg" title="" photographer="Kivus &amp; Camera">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Offbeat-Bride.jpg" alt="Offbeat Bride">
                    </a>
                </div>
                
            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-bridal.jpg" title="" photographer="Halifax Hill Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-bridal.jpg" alt="Boho Bridal">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/maryhelen-red-beauty.jpeg" title="" photographer="Story & Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/maryhelen-red-beauty.jpeg" alt="Mary Helen Red Beauty">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/lana-cake.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/lana-cake-th.jpg" alt="Lana with her Wedding Cake">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Natural-Light-Bride.jpg" title="" photographer="Arika Jordan Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Natural-Light-Bride.jpg" alt="Natural Light Bride">
                    </a>
                </div>

            </div>

            <div class="row">



                <!-- A.S. Nagpal Photography -->
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/rav-wedding.jpeg" title="" photographer="A.S. Nagpal Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/rav-wedding.jpeg" alt="Rav Wedding">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-bride-2.jpg" title="" photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-bride-2.jpg" alt="Natural Looking Wedding Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/naomi-water-bridal-2.jpeg" title="" photographer="Nieto Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/naomi-water-bridal-2.jpeg" alt="Naomi Water Bridal 2">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/classic-bridal-makeup.jpg" title="" photographer="VMA Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/classic-bridal-makeup.jpg" alt="Classic Bridal Makeup">
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/gold-and-blue-couple.jpeg" title="" photographer="September Photos Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/gold-and-blue-couple.jpeg" alt="Gold and Blue Couple">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-wedding.jpg" title="" photographer="Sarah Joann Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-wedding.jpg" alt="Boho Wedding">
                    </a>
                </div>
            </div>

        </div>

       {{ partial "footer.html" . }} 