{{ partial "header.html" . }}
        <div class="container text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>
        <div class="container mb-5">
            <div class="row justify-content-center">
                <p>Theresa specializes in natural and soft glamorous makeup and is also available for makeup lessons.</p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <p>Click to Enlarge Photo</p>
            </div>
        </div>

        <!--
            0 0 0 0
            x 0 0 x
            0 0 0 x
            x 0 x 0
            x 0 0 0 
            
            0 x 0 0
            0 0 x 0
            0 x 0 0
            0 0 0 0
            x x x x

            x x 0 x
            x 0 x 0
            0 0 0 0
            x x 0 0
            x 0 0 x

            x 0 0 x
            x 0 x 0

        -->

        <div id="galleryGrid" class="container popup-gallery">
            <!-- Row 1 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/clean_beauty.JPG" title="" photographer="Blissmore Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/clean_beauty.JPG" alt="Clean Beauty">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal_makeup_nc.jpg" title="" photographer="Krista Stevens Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal_makeup_nc.jpg" alt="Bridal Makeup NC">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/wedding-profile-bride.jpeg" title="" photographer="Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/wedding-profile-bride.jpeg" alt="Bride Profile">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/East_Asian_Bridal_Makeup.jpg" title="" photographer="Richard Barlow Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/East_Asian_Bridal_Makeup.jpg" alt="East Asian Bridal Makeup">
                    </a>
                </div>
            </div>

            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mary-helen-beauty.jpg" title="" photographer="Photo by Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mary-helen-beauty.jpg" alt="Mary Helen Beauty">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/glass_avenue_model.jpg" title="" photographer="Glass Avenue Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/glass_avenue_model.jpg" alt="Glass Avenue Model">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/senior_portraits.JPG" title="" photographer="Photo by Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/senior_portraits.JPG" alt="Senior Portrait Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarieondriveway.jpg" title="" photographer="Photo by Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarieondriveway.jpg" alt="Roarie on Driveway">
                    </a>
                </div>
            </div>

            <div class="row">
                

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal-reflection-makeup.jpg" title="" photographer="VMA Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal-reflection-makeup.jpg" alt="Bridal Reflection Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural-lashes.jpeg" title="" photographer="September Photos Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural-lashes.jpeg" alt="Natural Lashes">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/young_love.JPG" title="" photographer="Michael Jacobs Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/young_love.JPG" alt="Young Love">
                    </a>
                </div>
                

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Natural-Wedding-Makeup.jpg" title="" photographer="Arika Jordan Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Natural-Wedding-Makeup.jpg" alt="Natural Wedding Makeup">
                    </a>
                </div>
                
            </div>

            

            <!-- Row 3 -->
            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal_elopement_brick.jpeg" title="" photographer="Simone McAdams Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal_elopement_brick.jpeg" alt="Bridal Elopement Brick">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarie-blue.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarie-blue.jpg" alt="Roarie Blue Bride">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/naomi-bride-leans.jpeg" title="" photographer="Nieto Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/naomi-bride-leans.jpeg" alt="Naomi Bride Leans">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/UltraViolet-Wedding-1.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/UltraViolet-Wedding-1-th.jpg" alt="Lindsey bridal solo">
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mgc-fashion-3.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mgc-fashion-3.jpg" alt="MGC Fashion 3">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mgc-fashion-2.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mgc-fashion-2.jpg" alt="MGC Fashion 2">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarie-red-1.jpg" title="" photographer="Marie Killen">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarie-red-1.jpg" alt="Roarie Red 1">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarie-red-2.jpg" title="" photographer="Marie Killen">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarie-red-2.jpg" alt="Roarie Red 2">
                    </a>
                </div>
            </div>

            <!-- Row 5 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-bride.jpg" title="" photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-bride.jpg" alt="Natural makeup during styled shoot">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural_bridal_makeup_flowers.jpg" title="" photographer="MKM Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural_bridal_makeup_flowers.jpg" alt="Natural Bridal Makeup Flowers">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural-bridal-makeup.jpg" title="" photographer="VMA Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural-bridal-makeup.jpg" alt="Natural Bridal Makeup">
                    </a>
                </div>

                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/butterfly-beauty.jpeg" title="" photographer="September Photos Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/butterfly-beauty.jpeg" alt="Butterfly Beauty">
                    </a>
                </div>
            </div>

            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/kelly.jpg" title="" photographer="Photo by Theresa Burden">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/kelly.jpg" alt="Bridal Styled Shoot">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/heather-beauty.jpeg" title="" photographer="Smith Hardy Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/heather-beauty.jpeg" alt="Heather Beauty Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/kiki-beauty.jpeg" title="" photographer="Smith Hardy Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/kiki-beauty.jpeg" alt="Kiki Beauty Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/pretty-in-pink-group.jpeg" title="" photographer="Smith Hardy Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/pretty-in-pink-group.jpeg" alt="Pretty in Pink Group Beauty">
                    </a>
                </div>
            </div>


            <!-- Row 6 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Offbeat-Bride.jpg" title="" photographer="Kivus &amp; Camera">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Offbeat-Bride.jpg" alt="Offbeat Bride">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/maryhelen-red-beauty.jpeg" title="" photographer="Story & Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/maryhelen-red-beauty.jpeg" alt="Mary Helen Red Beauty">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/lana-cake.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/lana-cake-th.jpg" alt="Lana with her Wedding Cake">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/rav-wedding.jpeg" title="" photographer="A.S. Nagpal Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/rav-wedding.jpeg" alt="Rav Wedding">
                    </a>
                </div>
            </div>


            <div class="row">

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-bride-2.jpg" title="" photographer="MC Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-bride-2.jpg" alt="Natural Looking Wedding Makeup">
                    </a>
                </div>


                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/classic-bridal-makeup.jpg" title="" photographer="VMA Studios">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/classic-bridal-makeup.jpg" alt="Classic Bridal Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/gold-and-blue-couple.jpeg" title="" photographer="September Photos Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/gold-and-blue-couple.jpeg" alt="Gold and Blue Couple">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/boho-wedding.jpg" title="" photographer="Sarah Joann Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/boho-wedding.jpg" alt="Boho Wedding">
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/beauty-shoot-durham.jpg" title="" photographer="J Clark Images">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/beauty-shoot-durham.jpg" alt="Durham Beauty Shoot">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/raleigh-photoshoot-makeup.JPG" title="" photographer="Fifty Two Hundred Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/raleigh-photoshoot-makeup.JPG" alt="Raleigh Photoshoot Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural_headshot_makeup.JPG" title="" photographer="Lindsay Aikmen Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural_headshot_makeup.JPG" alt="natural headshot makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/season-moore-photo-headshot.jpg" title="" photographer="Season Moore Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/season-moore-photo-headshot.jpg" alt="Season Moore Photo Headshot">
                    </a>
                </div>
            </div>

            <div class="row">
                

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal-party.jpeg" title="" photographer="Amanda and Grady Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal-party.jpeg" alt="Bridal Party">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/roarie-white.jpg" title="" photographer="Hans Rosemond Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/roarie-white.jpg" alt="Roarie White Bride">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/all_aboard.JPG" title="" photographer="Michael Jacobs Photo">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/all_aboard.JPG" alt="All aboard - Bridal">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/natural_bridal_makeup.jpeg" title="" photographer="Mina von Feilitzsch Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/natural_bridal_makeup.jpeg" alt="Natural Bridal Makeup">
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/gothic_makeup.jpg" title="" photographer="Caitlyn Nicole Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/gothic_makeup.jpg" alt="Gothic Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal_beachy_waves.jpeg" title="" photographer="Russell-Killen Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal_beachy_waves.jpeg" alt="Bridal Beachy Waves">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/brides_over_30.jpeg" title="" photographer="Fancy This Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/brides_over_30.jpeg" alt="Brides Over 30">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/getting_ready_bride.jpeg" title="" photographer="Mina von Feilitzsch Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/getting_ready_bride.jpeg" alt="Getting Ready Bride">
                    </a>
                </div>
            </div>

            <div class="row">
                
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridal_elopement.jpeg" title="" photographer="Simone McAdams Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridal_elopement.jpeg" alt="Bridal Elopement">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bride-with-mom.jpg" title="" photographer="Lundie's Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bride-with-mom.jpg" alt="Blushing Brides">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/getting-ready.jpeg" title="" photographer="Ariel Kaitlin Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/getting-ready.jpeg" alt="getting ready">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/mkm_photography.jpg" title="" photographer="MKM Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/mkm_photography.jpg" alt="MKM Photography">
                    </a>
                </div>
            </div>

            <div class="row">
                
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/UltraViolet-Wedding-2.jpg" title="" photographer="Story &amp; Rhythm">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/UltraViolet-Wedding-2-th.jpg" alt="UltraViolet Wedding Couple">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/raleigh_nc_makeup_artist.jpg" title="" photographer="Krista Stevens Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/raleigh_nc_makeup_artist.jpg" alt="Raleigh NC Makeup Artist">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/glowy_bridal_makeup.jpg" title="" photographer="Julia Wade Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/glowy_bridal_makeup.jpg" alt="Glowy Bridal Makeup">
                    </a>
                </div>

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/christmas_wedding_makeup.jpeg" title="" photographer="JP Pratt Photography">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/christmas_wedding_makeup.jpeg" alt="Christmas wedding makeup">
                    </a>
                </div>

            </div>

        </div>

       {{ partial "footer.html" . }} 