{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">
            <p class="text-center">Do you need to reach me urgently? Call <a class="seaFoamContact font-weight-bold" href="tel:+19197571819">919-757-1819</a></p>

            <form class="customForm mb-5" method="post" action="contact.php">
                            <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input required type="text" class="form-control" name="firstName" id="firstName" placeholder="" value="">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input required type="text" class="form-control" name="lastName" id="lastName" placeholder="" value="">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" required class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="" value="">
                </div>
                <div class="form-group">
                    <label for="confirmEmail">Confirm Email Address</label>
                    <input oninput="checkEmail(this)" type="confirmEmail" required class="form-control" id="confirmEmail" aria-describedby="confirmEmailHelp" placeholder="">
                    <small id="confirmEmailHelp" class="form-text text-muted">Please confirm your email address.</small>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phone" placeholder="" value="">
                </div>

                <div class="form-group">
                    <label for="eventType">Event Type</label>
                    <input required type="text" class="form-control" id="eventType" name="event" placeholder="" value="">
                </div>
                <!--
                <div class="form-group">
                    <label for="eventType">Event Type</label>
                    <select required class="form-control" name="eventType" name="event" id="eventType" value="">
                        <option>Wedding</option>
                        <option>Photoshoot</option>
                        <option>Headshot</option>
                        <option>Prom</option>
                        <option>Makeup Lesson</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="eventother">If other, what is your event?</label>
                    <input type="text" class="form-control" id="evnetother" name="eventother" placeholder="Other" value="">
                </div>
                -->

                <div class="form-group">
                    <label for="date">Event Date</label>
                    <input required type="text" class="form-control" id="datepicker" name="date" placeholder="" value="">
                </div>

                <div class="form-group">
                    <label for="startTime">Event Start Time</label>
                    <input type="text" class="form-control" id="startTime" name="time" placeholder="" value="">
                </div>

                <div class="form-group">
                    <label for="serviceCount">How many people need makeup services?</label>
                    <input type="text" class="form-control" id="serviceCount" name="count" placeholder="" value="">
                </div>

                <div class="form-group">
                    <label for="hair">Do you need hair services?</label>
                    <select class="form-control" name="hair" id="hair" name="hair" value="">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="referredBy">How did you hear about me?</label>
                    <input type="text" class="form-control" id="referredBy" name="refer" placeholder="" value="">
                </div>
                <!--
                <div class="form-group">
                    <label for="referredBy">How did you hear about me?</label>
                    <select required class="form-control" id="referredBy" name="refer" value="">
                        <option>Google</option>
                        <option>Facebook</option>
                        <option>Instagram</option>
                        <option>Friend</option>
                        <option>Vendor</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="other">If from a friend, vendor, or other, let me know who so I can thank them</label>
                    <input type="text" class="form-control" id="other" name="other" placeholder="Name" value="">
                </div>
                -->

                <!-- 
                <div class="form-group">
                    <label for="referredBy">How did you hear about me?</label>
                    <input type="text" class="form-control" name="refer" id="referredBy" list="referrals"  value=""/>
                    <datalist id="referrals">
                        <option>Google</option>
                        <option>Facebook</option>
                        <option>Instagram</option>
                        <option>Friend</option>
                        <option>Vendor</option>
                        <option>Other: Please be specific so I can thank them.</option>
                    </datalist>
                </div>
                -->

                <div class="form-group">
                        <label for="comment">Message</label>
                        <textarea class="form-control" id="comment" name="message" rows="3" placeholder="" value=""></textarea>
                </div>


                <button type="submit" class="btn btn-primary" id="contactButton">Submit</button>

            </form>
        </div>


        {{ partial "footer.html" . }}