{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">

            <div class="row mb-5">
                <div class="ml-3">
                    <p>
                    <span class="font-weight-bold">Bundle & Save</span> and take home so much more confidence in creating your beauty look!
                    </p>
                    <p>
                    Please <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> to inquire about group classes.
                    </p>
                </div>
            </div>

            <div class="row mb-5 pb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Makeup Maven</h3>
                    <p>
                    4 Classes................680
                    </p>
                    <p>
                    A perfect blend of personal shopping and learning how to create effortless beauty looks for any occasion. Learn the best products for your unique color palette and take home the confidence of creating makeup looks for every occasion.
                    </p>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Makeup Bag Makeover
                        </li> 
                        <li>
                        Flawless Face or Ageless Beauty
                        </li>
                        <li>
                        Eyeconic
                        </li>
                        <li>
                        Perfect Pout
                        </li>
                    </ul>
                    <p>
                    Customized Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Learn skincare and skin prep best for your makeup
                        </li> 
                        <li>
                        Learn what colors and finishes will complement your unique color palette
                        </li>
                        <li>
                        Learn how to complete a full face of makeup with a strong emphasis on complexion for any age
                        </li>
                        <li>
                        Learn how to create the perfect eye look for your eye shape
                        </li>
                        <li>
                        Learn how to accentuate your lips perfectly
                        </li>
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/65b5cf40ed223258b18220c2/schedule">BOOK NOW</a>
                    </p>
       
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/makeup-maven.jpg" alt="Makeup bag makeover class">
                </div>
                
            </div>

            <div class="row pb-5 mb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Sultry Siren</h3>
                    <p>
                    3 Classes................470
                    </p>
                    <p>
                    Become the smarty pants of makeup that you've always dreamed of being with these three technique heavy classes.
                    This includes a full faced complexion heavy class, creating a sultry eye look, and creating the perfect pout to propel you forward in whatever journey you are on!
                    </p>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Flawless Face or Ageless Beauty
                        </li> 
                        <li>
                        Eyeconic 
                        </li>
                        <li>
                        Perfect Pout
                        </li>
                    </ul>
                    <p>
                    Customized Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Learn skin prep that will enhance your makeup look and have people seeing you and not the makeup
                        </li> 
                        <li>
                        Dive into the many pillars of makeup including complexion, eye makeup, and lips and gain the confidence to create any look that feels amazing to you
                        </li>
                    </ul>
                    <p>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/65b5d02a1ea78c58ee75a808/schedule">BOOK NOW</a>
                    </p>
                </div>
                <!-- TODO: Add Ageless Beauty Picture -->
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/sultry-siren.jpg" alt="Flawless face makeup lesson">
                </div>
                
            </div>

            <div class="row pb-5 mb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Natural Beauty</h3>
                    <p>
                    3 Classes................400
                    </p>
                    <p>
                    Learn all the basics to take you from easy on the go beauty to effortless chic date night makeup. Perfect for teens, new moms, and new to makeup
                    </p>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        5 Minute Face
                        </li> 
                        <li>
                        Eyeconic 
                        </li>
                        <li>
                        Perfect Pout
                        </li>
                    </ul>
                    <p>
                    Customized Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Learn a no fuss skincare and makeup routine so that you can conquer your day and have the tools to go from day to night.
                        </li> 
                    </ul>
                    <p>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/65b5d084fe353c5a5bceda68/schedule">BOOK NOW</a>
                    </p>
                </div>
                <!-- TODO: Add Ageless Beauty Picture -->
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/natural-beauty.jpg" alt="Flawless face makeup lesson">
                </div>
                
            </div>

            <div class="row mb-5">
                <div class="col-lg-12 pr-4">
                    <p>
                    Don’t see the bundle that is just right for you? <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> me and we can create a customized bundle together that is the perfect fit for you.
                    </p>
                    <p>
                    Have questions? Schedule a call with me.
                    </p>
                    <p class="text-center">
                    <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/61a42352c3753ffa025c55b5/schedule">SCHEDULE CALL</a>
                    </p>
                </div>
            </div>


            
            <!--
            <div class="row">
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.14/iframeResizer.min.js"></script><iframe src="https://hello.dubsado.com:443/public/appointment-scheduler/60a1ae3a1836eb57886776d1/schedule?isIframe=true" frameborder="0" style="width:1px; min-width:100%;"></iframe><script type="text/javascript">setTimeout(function(){iFrameResize({checkOrigin: false, heightCalculationMethod: "taggedElement"});}, 30)</script>

            </div>
            -->


        </div>

       {{ partial "footer.html" . }}