{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">

            <div class="row mb-5">
                <div class="ml-3">
                    <p>
                    Caring for your skin is an art form and a science.
                    Allow me to give you the tools to get your skin at optimal health with just the right amount of glow.
                    As a licensed esthetician, I have personally helped many people with their skin and have overcome some of my own skincare battles including acne rosacea and extreme sensitivity. 
                    </p>
                    <p>
                    Please <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> to inquire about skin care parties.
                    </p>
                </div>
            </div>

            <div class="row mb-5 pb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Skin Care Consultation</h3>
                    <p>
                    90 Minutes................150
                    </p>
                    <p>
                    Are you in a skin care rut, or do you just want to revamp your routine?
                    </p>
                    <p>
                    Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Guided Mini Facial
                        </li> 
                        <li>
                        Understanding what your skin needs
                        </li>
                        <li>
                        Optimizing how you use your skin care
                        </li>
                    </ul>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Action plan for the best success in skin health
                        </li> 
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/63164ff78153224f439a437b/schedule">BOOK NOW</a>
                    </p>
       
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/skin-care-consultation.jpg" alt="Skin Care Consultation">
                    <!-- <a href="https://www.vecteezy.com/free-photos">Free Stock photos by Vecteezy</a> -->
                </div>
                
            </div>

            <div class="row pb-5 mb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Skin Care Journey</h3>
                    <p>
                    Three 90 Minute Sessions................375
                    </p>
                    <p>
                    ​Do you need a little more personal care and touch? Are you completely lost when it comes to skincare and have major issues to address?
                    </p>
                    <p>
                    Customized Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Three guided mini facials for each appointment over a course of 3-6 months
                        </li> 
                        <li>
                        Treating multiple/major skincare concerns
                        </li>
                        <li>
                        Understanding the best course of action for your needs
                        </li>
                    </ul>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Action plan for the best success in skin health
                        </li> 
                        <li>
                        One-on-one skin coaching check-ins after each appointment
                        </li> 
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/63165216868923dc1764ebdd/schedule">BOOK YOUR FIRST APPOINTMENT NOW</a>
                    </p>
                </div>
                <!-- TODO: Add Ageless Beauty Picture -->
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/skin-care-journey.jpg" alt="Skin Care Journey">
                    <p>Image on the right is after less than a month of progress with one change in skin care regime</p>
                </div>
                
            </div>

            <div class="row mb-5">
                <div class="col-lg-6 pr-4">
                    <p>
                    Please <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> to inquire about skin care parties.
                    </p>
                    <p>
                    Not sure what class to take? Schedule a call with me!
                    </p>
                    <p class="text-center">
                    <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/61a42352c3753ffa025c55b5/schedule">SCHEDULE CALL</a>
                    </p>
                </div>
            </div>


            
            <!--
            <div class="row">
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.14/iframeResizer.min.js"></script><iframe src="https://hello.dubsado.com:443/public/appointment-scheduler/60a1ae3a1836eb57886776d1/schedule?isIframe=true" frameborder="0" style="width:1px; min-width:100%;"></iframe><script type="text/javascript">setTimeout(function(){iFrameResize({checkOrigin: false, heightCalculationMethod: "taggedElement"});}, 30)</script>

            </div>
            -->


        </div>

       {{ partial "footer.html" . }}