{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">

            <div class="row mb-5">
                <div class="ml-3">
                    <p>
                    Every face is unique and beautiful and needs to be celebrated.
                    I can show you the tricks I've learned in the industry as well as teach you what I know about skin care and how much of an impact it has on makeup application.
                    I am here for you every step of the way!
                    </p>
                    <p>
                    Classes are available in-person or virtually. One-on-one classes include a lesson plan and face chart.
                    </p>
                    <p>
                    Please <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> to inquire about group classes.
                    </p>
                </div>
            </div>

            <div class="row mb-5 pb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Makeup Bag Makeover/Personal Shopping</h3>
                    <p>
                    90 Minutes................275
                    </p>
                    <p>
                    <span class="font-weight-bold">The Ultimate Makeup Bag Edit!</span>
                    Let's toss the stuff you're hanging onto that's not doing your any favors and curate a collection that is easy to work with for any occasion!
                    </p>
                    <p>
                    Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Sanitation & Expiration dates for all products
                        </li> 
                        <li>
                        Understanding the best skin prep for makeup
                        </li>
                        <li>
                        Discovering the best products for your face and eyes
                        </li>
                    </ul>
                    <p>If additional time is needed, it will be billed at 75 per half hour</p>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/62532bc3e873248c72663281/schedule">BOOK NOW</a>
                    </p>
       
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/makeup_bag.jpg" alt="Makeup bag makeover class">
                </div>
                
            </div>

            <div class="row pb-5 mb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Ageless Beauty</h3>
                    <p>
                    90 Minutes................275
                    </p>
                    <p>
                    ​Look years younger using all of the right steps for skin care and makeup.
                    </p>
                    <p>
                    Customized Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Skin Prep for 30 and older
                        </li> 
                        <li>
                        Foundation, Concealer, and Blush application
                        </li>
                        <li>
                        An overview of brows, eyes, and lips
                        </li>
                    </ul>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Lesson plan
                        </li> 
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/62536098d7bbf0219ddee8ae/schedule">BOOK NOW</a>
                    </p>
                </div>
                <!-- TODO: Add Ageless Beauty Picture -->
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/ageless-beauty.jpeg" alt="Flawless face makeup lesson">
                </div>
                
            </div>

            <div class="row pb-5 mb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Flawless Face</h3>
                    <p>
                    90 Minutes................275
                    </p>
                    <p>
                    Learn how to achieve near perfection with your complexion!
                    </p>
                    <p>
                    Customized Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Skin Prep for your skin type
                        </li> 
                        <li>
                        Foundation, Concealer, and Blush application
                        </li>
                        <li>
                        An overview of brows, eyes, and lips
                        </li>
                    </ul>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Lesson plan
                        </li> 
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <!-- <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> for availability today! -->
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/6253609a79918721432614ea/schedule">BOOK NOW</a>
                    </p>
                    <h5 class="mt-5 fullQuote font-italic font-weight-bold">
                    “...She did a great job explaining products and tools and teaching me techniques so I can look my best and feel confident as I move into the future...”
                    </h5>
                    <h5 class="fullQuote font-italic font-weight-bold">
                    -- Kathryn A.
                    </h5>
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/flawless_face.JPG" alt="Flawless face makeup lesson">
                </div>
                
            </div>

            <div class="row pb-5 mb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Eyeconic</h3>
                    <p>
                    60 Minutes................200
                    </p>
                    <p>
                    Learn all about eyes and how to create the best eye look for your eye shape!
                    </p>
                    <p>
                    Customized Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Prepping eyelids to ensure longevity
                        </li> 
                        <li>
                        Sculpting brows 
                        </li>
                        <li>
                        Eyeshadow, liner and lashes to suit to your eye shape
                        </li>
                        <li>
                        Going from day to night with your eye look
                        </li>
                        <li>
                        Cleaning up mistakes without having to start over
                        </li>
                    </ul>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Lesson plan
                        </li> 
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <!-- <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> for availability today! -->
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/6253609cb471c521f3828c68/schedule">BOOK NOW</a>
                    </p>
                    <h5 class="mt-5 fullQuote font-italic font-weight-bold">
                    “You give the greatest tips for learning and make it so fun without being overwhelming!”
                    </h5>
                    <h5 class="fullQuote font-italic font-weight-bold">
                    -- Roarie Y.
                    </h5>
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/eyeconic.jpg" alt="Eyeconic makeup class">
                </div>
                
            </div>

            <div class="row pb-5 mb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>Feature This</h3>
                    <p>
                    60 Minutes................200
                    </p>
                    <p>
                    Learn all about creating definition on all of your best features.
                    </p>
                    <p>
                    Customized Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Learn how to design the perfect pout
                        </li> 
                        <li>
                        Learn technique to create your best cheek bones
                        </li>
                        <li>
                        Learn how to give your brows a lift without the Botox
                        </li>
                    </ul>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Lesson plan
                        </li> 
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <!-- <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> for availability today! -->
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/638951cef211d72f9a4e9e70/schedule">BOOK NOW</a>
                    </p>
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/feature_this.jpeg" alt="Feature this makeup class">
                </div>
                
            </div>

            <div class="row pb-5 mb-5 border border-periwinkle border-top-0 border-right-0 border-left-0">
                <div class="col-lg-6 pr-4">
                    <h3>5 Minute Face</h3>
                    <p>
                    60 Minutes................200
                    </p>
                    <p>
                    Learn the basics for a no fuss quick makeup routine. 
                    </p>
                    <p>
                    Learning Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Prepping your skin for a quick makeup look
                        </li> 
                        <li>
                        Applying concealer, base, and cheek product
                        </li>
                        <li>
                        An overview of everday eyes, brows, and lips
                        </li>
                    </ul>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Lesson plan
                        </li> 
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <!-- <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> for availability today! -->
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/625360a78d59ec8bd45a02a8/schedule">BOOK NOW</a>
                    </p>
                    <h5 class="mt-5 fullQuote font-italic font-weight-bold">
                    “...I now feel equipped to do my own makeup daily and feel beautiful!  I’d suggest everyone learn from her and have her do their makeup!!!”
                    </h5>
                    <h5 class="fullQuote font-italic font-weight-bold">
                    -- Tania S.
                    </h5>
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/five_minute_face.jpg" alt="Five minute face makeup class">
                </div>
            </div>

            <div class="row mb-5">
            <!-- <div class="row pb-5 mb-5 border border-periwinkle border-top-0 border-right-0 border-left-0"> -->
                <div class="col-lg-6 pr-4">
                    <h3>Photo-Ready Makeup/DIY Bride</h3>
                    <p>
                    2.5 Hours................400
                    </p>
                    <p>
                    Learn how to create a makeup look that will last all day and look good great in person and on camera. 
                    </p>
                    <p>
                    Customized Objectives:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Skin prep for your skin type 
                        </li> 
                        <li>
                        Creating dimension on the face 
                        </li>
                        <li>
                        Techniques for long wearing eye and face makeup
                        </li>
                        <li>
                        How to customize different eye looks for different occasions
                        </li>
                    </ul>
                    <p>
                    We recommmend this class for advanced students.
                    </p>
                    <p>
                    Includes:
                    </p>
                    <ul class="diamondList mb-5">
                        <li>
                        Lesson plan
                        </li> 
                    </ul>
                    <p class="text-center mb-5 mb-lg-0">
                        <!-- <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> for availability today! -->
                        <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/625360a9b471c521f3829010/schedule">BOOK NOW</a>
                    </p>
                    <h5 class="mt-5 fullQuote font-italic font-weight-bold">
                    “I am a newbie and late to the game with Make up but Theresa was a master teacher and I’m doing better and more confident from her lesson.
                    My wedding day will me more beautiful because of her time and patience, as well as her skills! Try her and you won’t be disappointed!”
                    </h5>
                    <h5 class="fullQuote font-italic font-weight-bold">
                    -- Noelle P.
                    </h5>
                </div>
                <div class="col-lg-6 pr-4">
                    <img class="img-fluid" src="./img/services/photo_ready_makeup.jpg" alt="Photo-ready makeup class">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-lg-6 pr-4">
                    <p>
                    Please <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">CONTACT</a> me to inquire about group classes.
                    </p>
                    <p>
                    Not sure what class to take? Schedule a call with me!
                    </p>
                    <p class="text-center">
                    <a class="btn btn-primary font-weight-bold" target="blank" href="https://hello.dubsado.com:443/public/appointment-scheduler/61a42352c3753ffa025c55b5/schedule">SCHEDULE CALL</a>
                    </p>
                </div>
            </div>


            
            <!--
            <div class="row">
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.14/iframeResizer.min.js"></script><iframe src="https://hello.dubsado.com:443/public/appointment-scheduler/60a1ae3a1836eb57886776d1/schedule?isIframe=true" frameborder="0" style="width:1px; min-width:100%;"></iframe><script type="text/javascript">setTimeout(function(){iFrameResize({checkOrigin: false, heightCalculationMethod: "taggedElement"});}, 30)</script>

            </div>
            -->


        </div>

       {{ partial "footer.html" . }}