{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <p>Click to Enlarge Photo</p>
            </div>
        </div>
        
        <div id="galleryGrid" class="container popup-gallery">
            <!-- Row 1 -->
            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Army_ball_Makeup.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Army_ball_Makeup.jpeg" alt="Army Ball Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Asian_Makeup_Before_and_After.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Asian_Makeup_Before_and_After.jpeg" alt="Asian Makeup Before and After">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/raleigh_nc_makeup_black_bride.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/raleigh_nc_makeup_black_bride.jpeg" alt="Raleigh NC Makeup Black Bride">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/bridesmaid_makeover.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/bridesmaid_makeover.jpeg" alt="Bridesmaid Makeover">
                    </a>
                </div>
            </div>

            <!-- Row 3 -->
            <div class="row">
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/very_natural_makeup.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/very_natural_makeup.jpg" alt="Very Natural Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Date_night_transformation.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Date_night_transformation.jpeg" alt="Date Night Transformation">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Dramatic_lashes_bridal_trial.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Dramatic_lashes_bridal_trial.jpeg" alt="Dramatic Lashes Bridal Trial">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/east_asian_makeup.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/east_asian_makeup.jpg" alt="East Asian Makeup">
                    </a>
                </div>

            </div>


            <div class="row">
                <!--EMPTY -->
                
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/glowy_makeup.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/glowy_makeup.jpg" alt="Glowy Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Makeup_Fair_Skin.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Makeup_Fair_Skin.jpeg" alt="Makeup Fair Skin">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Makeup_for_over_40.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Makeup_for_over_40.jpeg" alt="Makeup For Over 40">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Male_Grooming.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Male_Grooming.jpeg" alt="Male Grooming">
                    </a>
                </div>
            </div>

            <div class="row">
                <!--EMPTY -->

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Matching_Face_to_Spray_tan.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Matching_Face_to_Spray_tan.jpeg" alt="Matching Face to Spray Tan">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Mature_Makeup_Transformation.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Mature_Makeup_Transformation.jpeg" alt="Mature Makeup Transformation">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Natural_Bridal_Makeover.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Natural_Bridal_Makeover.jpeg" alt="Natural Bridal Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/pink_pop_lip_color_bridal_makeup.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/pink_pop_lip_color_bridal_makeup.jpeg" alt="Pink Pop Lip Color Bridal Makeup">
                    </a>
                </div>
                
                
            </div>

            <div class="row">
                <!--EMPTY -->

                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/pregnancy_boudoir_makeup.jpg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/pregnancy_boudoir_makeup.jpg" alt="Pregnancy Budoir Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/black_bridal_makeup.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/black_bridal_makeup.jpeg" alt="Black Bridal Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/romantic_makeup.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/romantic_makeup.jpeg" alt="Romantic Makeup">
                    </a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/Smokey_Eye_Transformation.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/Smokey_Eye_Transformation.jpeg" alt="Smokey Eye Transformation">
                    </a>
                </div>
                
                
            </div>

            <div class="row">
                <!--EMPTY -->
                <div class="col-6 col-md-3 mb-4">
                    <a href="img/gallery/covering_redness_makeup.jpeg" title="" photographer="">
                        <img class="img-fluid lazyload" data-src="img/gallery/thumb/covering_redness_makeup.jpeg" alt="Covering Redness Wtih Makeup">
                    </a>
                </div>
                
                
            </div>

            

        </div>

       {{ partial "footer.html" . }} 