{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 order-2 order-sm-1 font-italic">
                    <h3 class="question font-weight-bold">
                        Why should I hire a professional
                        makeup artist for my event?
                    </h3>
                    <p class="answer">
                        There are a few reasons on why it is a good idea to
                        invest in professional makeup artistry and a licensed
                        professional. If this is for a wedding or a special event,
                        you are going to be center stage. Knowing that all eyes
                        will be on you, you want to look your best so you can
                        feel good and enjoy a very momentous day in your life.
                        A trained professional will use professional products and
                        applications to ensure your makeup will last all day and
                        that you look amazing in photographs and video.
                    </p>
                    <h3 class="question font-weight-bold">
                        What is a licensed esthetician?
                    </h3>
                    <p class="answer">
                        Estheticians are known as skin therapists. Estheticians
                        are licensed in various cosmetic treatments such as
                        facials, waxing, and makeup application.
                    </p>
                </div>
                <div class="col-lg-6 answer order-1 order-sm-2 font-italic">
                    <img class="img-fluid" src="./img/faq/makeup-kit.png" alt="Theresa's Makeup Kit">
                    <p class="text-center photoCredit">Anna Teresa Galizes Photography</p>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-lg-6 order-2 order-sm-1 font-italic">
                    <h3 class="question font-weight-bold">
                        Can you come to my location for
                        makeup services?
                    </h3>
                    <p class="answer">
                       Yes! My makeup services are completely mobile.
                       I transport all of my equipment to you to provide a luxurious beauty experience.
                       Items I bring with me include a makeup chair, professional lighting,
                       a towel warming station for luxury pampering, skincare for all skin types,
                       a professional makeup kit built for global skin tones,
                       and clean brushes for each client receiving makeup. 
                    </p>
                    <h3 class="question font-weight-bold">
                        How far ahead should I book my makeup services?
                    </h3>
                    <p class="answer">
                        As soon as possible! I get booked up very fast.
                        I can only do so many clients in one day.
                        I would even suggest to book your beauty vendors first if you are a bride.
                        We are the first ones on the scene and can help you with
                        planning the schedule for the first part of the day.
                        Most of us, like myself know a lot of other vendors and can give reccomendations.
                    </p>
                    <!--
                    <h3 class="question font-weight-bold">
                        What kind of makeup services do you
                        offer? Do you only do weddings?
                    </h3>
                    <p class="answer">
                        I love being a part of wedding days and bringing
                        someone’s unique vision to life. I am also available
                        for headshots, photoshoots, other special occasions,
                        makeup lessons, and makeup parties.
                    </p>
                    -->
                </div>
                <div class="col-lg-6 order-1 order-sm-2 answer font-italic">
                    <img class="img-fluid" src="./img/faq/anna-brush.jpg" alt="Bride Anna with Makeup Brush in Apex">
                    <p class="text-center photoCredit">Little White Dress Visuals Photography</p>
                </div>

            </div>
            <div class="row mb-5">
                <div class="col-lg-6 answer font-italic">
                    <img class="img-fluid" src="./img/faq/makeup-artist-supplies.jpg" alt="Theresa's Makeup Kit">
                    <p class="text-center photoCredit">Stephen Alexander Photography</p>
                </div>
                    
                <div class="col-lg-6 font-italic">
                    
                    <h3 class="question font-weight-bold">
                        Do you have a minimum for makeup services?
                    </h3>
                    <p class="answer">
                        Yes and no. During peak months, holidays,
                        and weekends there may be a minimum.
                        If you don't reach the service minimum you can opt
                        to pay the dollar equivalent.
                    </p>
                    
                    <h3 class="question font-weight-bold">
                        How much time should I allow for my makeup appointment?
                    </h3>
                    <p class="answer">
                        If I'm coming to you,
                        extra time needs to be allotted for setting up and breaking down.
                        It takes about 20-35 minutes to set everything up and 20-30 to
                        break everything down.
                        It's important that someone is present while I pack up by gear until I make my final exit. The makeup appointment itself takes between 45-90 minutes. For some occasions I allow 2 hours, but most appointments are 60 minutes.
                    </p>
                    <h3 class="question font-weight-bold">
                        I'm a bride, how much time should I allow for myself and my wedding party to get ready?
                    </h3>
                    <p class="answer">
                        For weddings, I always allow 1 hour per person plus 1 hour
                        for buffer at least. So if you have 4 people,
                        I will allow 5 hours of get ready time.
                        Twenty to thirty minutes is also added to the
                        beginning and end of that get ready time for setting up and breaking
                        down my equipment.
                    </p>
                    
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-6 order-2 order-sm-1 font-italic">
                    
                    <h3 class="question font-weight-bold">
                        When should I plan to be ready by before my event?
                    </h3>
                    <p class="answer">
                        Makeup services should conclude at least 2 hours before your event.
                        This will give you plenty of time to use the restroom,
                        get into your attire, and take pictures before your ceremony
                        (if it's before a wedding).
                    </p>
                    <h3 class="question font-weight-bold">
                        Do you have a certain look that you
                        like to use on everyone?
                    </h3>
                    <p class="answer">
                        While every artist, including myself has their own
                        style, I still customize all my client's makeup to their
                        individual needs and preferences. I have a few
                        goals: I need for you to still feel like you, and have
                        the makeup accentuate your best features while
                        making you feel confident in how you look and feel
                        for your event.
                    </p>
                    <h3 class="question font-weight-bold">
                        What kind of brands do you use?
                    </h3>
                    <p class="answer">
                        I use many different brands that are geared towards professional use.
                        I enjoy using Viseart, RCMA, Kevyn Aucoin, Senna Cosmetics,
                        Makeup Forever, and Graftobian to name a few.
                        I use high quality brushes from brands such as ESUM and Smith Cosmetics.
                    </p>
                    <h3 class="question font-weight-bold">
                        I have sensitive skin and I am
                        concerned that I will have a bad
                        reaction to your makeup, what can
                        you do?
                    </h3>
                    <p class="answer">
                        I only use hypoallergenic products. If you have sensitive
                        skin, I highly recommend doing a trial because we can do
                        a patch test before your event. If you have products of
                        your own that you would prefer me to use I can definitely
                        accommodate for you.
                    </p>
                    
                </div>
                <div class="col-lg-6 order-1 order-sm-2 answer font-italic">
                    <img class="img-fluid" src="./img/faq/michelle-wedding-makeup.jpg" alt="Michelle's Wedding Day">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-lg-6 answer font-italic">
                    <img class="img-fluid" src="./img/faq/hires.jpg" alt="The Hires Wedding">
                    <p class="text-center photoCredit">Doug Fry Photography</p>
                </div>
                <div class="col-lg-6 font-italic">
                    <h3 class="question font-weight-bold">
                        Do you offer makeup trials?
                    </h3>
                    <p class="answer">
                        Yes! I like to call them makeup previews.
                        For the makeup preview, I like to have a consultation before
                        we start so that I can truly capture your vision
                        (or help you get to one if you don't have one).
                        I will then begin the luxury skin prep process with a mini facial
                        and proceed with makeup and custom lashes.
                        Doing a makeup preview will also allow you to tell me how the
                        makeup lasted and we can make adjustments to ensure the
                        best longevity for your wedding day.
                        For example, if you are afraid you may sweat too much for your liking,
                        I can apply a facial antiperspirant.
                        Everyone’s skin is different,
                        so special care is taking for each individuals needs.
                    </p>

                    <h3 class="question font-weight-bold">
                        How should I prepare for my makeup trial?
                    </h3>
                    <p class="answer">
                        Before the trial we will discuss your makeup inspiration
                        and what you normally do for special event makeup in great detail.
                        It’s very important to come with a clean face,
                        no residual eyeliner or mascara, and NO moisturizer on your face.
                        Moisturizer interferes with the prepping process and will need
                        to be removed anyway, this adds on time to the appointment
                        potentially cutting time from the actually application.
                        Removing all residual eyeliner and mascara is especially crucial
                        (especially for weddings) because the old eyeliner and
                        mascara is what will run if you cry (not mine).
                    </p>

                    <h3 class="question font-weight-bold">
                        I don’t wear a lot of makeup, and I’m not sure what to choose for makeup.
                    </h3>
                    <p class="answer">
                        A majority of my clients, especially bridal clients are not big
                        makeup wearers. My philosophy is that the skin should still
                        look like skin even with a full face of makeup.
                        It looks better in person, on camera, and in video.
                        I have a skin prep process that will prepare the face perfectly
                        for makeup. The makeup I use is also designed for high definition
                        cameras, this also adds to the the very skin like element of the
                        makeup. You will still feel like you, but a more defined,
                        polished you.
                    </p>

                    <h3 class="question font-weight-bold">
                        Why should I avoid putting moisturizer on before my appointment?
                    </h3>
                    <p class="answer">
                        I know it's tempting to apply moisturizer before your appointment,
                        especially if you have dry skin, but with the process I have for
                        applying makeup I need a blank slate.
                        I start off by doing a chemical exfolint and this must be done
                        on dry, non moisturized skin so that the product can easily grab
                        surface dead skin.  This is step is crucial in the skin prep
                        process because it removes the dead skin cells so the foundation
                        lays on the skin nicely and looks more like skin then makeup.
                        Depending on your skin type I may remove the product with a warm
                        towel or a cool toner.
                    </p>

                    
                </div>
            </div>

            <div class="row mb-5">

                <div class="col-lg-6 font-italic">
                    <h3 class="question font-weight-bold">
                        Should I bring my own moisturizer or makeup to my appointment?
                    </h3>
                    <p class="answer">
                        No and no. You won't need to because I carry several
                        moisturizers that work well under makeup.
                        Not all moisturizers are created equal and some can pill
                        under makeup. It is a great idea to mask the night before
                        so that you're skin is well hydrated and ready to receive
                        makeup on the day of. I cannot use your own makeup for sanitary
                        reasons. If you are afraid of having a reaction I would book
                        a makeup trial to be sure that all of my products agree
                        with your skin.
                    </p>

                    <h3 class="question font-weight-bold">
                        Do you do airbrushing?
                    </h3>
                    <p class="answer">
                        I don’t use airbrush tools, but the foundations I use are professional quality and built for HD (You will look amazing in photographs and video)! 
                        Any type of coverage feels lightweight and appears skin-like. All of my clients are also impressed with the long-wearing qualities of the makeup. 
                        You can read their personal testaments to my work <a href="./reviews.html" target="blank" class="seaFoamContact font-weight-bold">here</a>
                    </p>
                    <h3 class="question font-weight-bold">
                        Do you offer hair services?
                    </h3>
                    <p class="answer">
                        I am only licensed and specialized in skin-care and
                        makeup application, however I can supply a list of
                        highly reccomended licensed professionals that
                    </p>
                    <p class="answer">
                        If you prefer to hire a hair and makeup team, please
                        specify that on the <a class="seaFoamContact font-weight-bold" href="./contact.html" target="_blank">contact</a> form.
                    </p>
                    <h3 class="question font-weight-bold">
                        How can I reserve your services?
                    </h3>
                    <p class="answer">
                        A contract must be signed and a 50%
                        retainer must be paid to reserve services
                        for your event. The retainer goes towards the cost of
                        services on the day of your event.
                    </p>
                    <p class="answer">
                        Please <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">contact</a> me to see if I have your date
                        available. I would love to be a part of your special
                        day!
                    </p>

                    <h3 class="question font-weight-bold">
                        Do you carry makeup for all skin tones?
                    </h3>
                    <p class="answer">
                        Absolutely! I carry colors for global skin tones.
                        If I don’t have someone’s color I can custom curate their
                        foundation color(s) using black, white, and the primary colors.
                        I am trained to do all skin tones, skin types,
                        all different eye shapes so that each person can look their best.
                    </p>

                    <h3 class="question font-weight-bold">
                        Do you offer makeup lessons?
                    </h3>
                    <p class="answer">
                        Yes! I offer one-to-one and group lessons.
                        Booking a makeup lesson is quick and easy.
                        Click "here" to learn more. I offer virtual or in person lessons.
                    </p>
                </div>
                <div class="col-lg-6 answer font-italic">
                    <img class="img-fluid" src="./img/faq/apex_makeup_artist.jpg" alt="Apex Makeup Artist">
                    <p class="text-center photoCredit">Krista Stevens Photography</p>
                </div>
            </div>

        </div>

       {{ partial "footer.html" . }} 