{{ partial "header.html" . }}
        <div class="container mb-5 text-center pageHeader">
            <h2>{{ .Params.pageTitle }}</h2>
        </div>

        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 order-2 order-sm-1 font-italic">
                    <h3 class="question font-weight-bold">
                        Why should I hire a professional
                        makeup artist for my event?
                    </h3>
                    <p class="answer">
                       There are a few reasons why it is a good idea to invest in professional makeup artistry.
                       If this is for a wedding or a special event, you are going to be center stage.
                       Knowing that all eyes will be on you, you want to look your best so you can feel good and enjoy a very momentous day in your life.
                       Good makeup and styling can transform your confidence. 
                    </p>
                    <h3 class="question font-weight-bold">
                        Can you come to my location for
                        makeup services?
                    </h3>
                    <p class="answer">
                        Yes! Our makeup services are mobile.
                        We transport all of our equipment to you to provide a luxurious beauty experience.
                    </p>
                </div>
                <div class="col-lg-6 answer order-1 order-sm-2 font-italic">
                    <img class="img-fluid" src="./img/faq/makeup-kit.png" alt="Theresa's Makeup Kit">
                    <p class="text-center photoCredit">Anna Teresa Galizes Photography</p>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-lg-6 order-2 order-sm-1 font-italic">
                    
                    <h3 class="question font-weight-bold">
                        How far ahead should I book my makeup services?
                    </h3>
                    <p class="answer">
                        As soon as possible! We get booked up very fast.
                        I would even suggest to book your beauty professionals first if you are a bride.
                        We are the first ones on the scene and can help you with planning the schedule for the first part of the day.
                        Most of us, like myself, know a lot of other wedding professionals and can give recommendations. 
                    </p>
                    <h3 class="question font-weight-bold">
                        Do you have a minimum for makeup services?
                    </h3>
                    <p class="answer">
                        Yes and no. During peak months, holidays, and weekends there may be a minimum.
                        If you don't reach the service minimum you can opt to pay the dollar equivalent. 
                    </p>
                    <!--
                    <h3 class="question font-weight-bold">
                        What kind of makeup services do you
                        offer? Do you only do weddings?
                    </h3>
                    <p class="answer">
                        I love being a part of wedding days and bringing
                        someone’s unique vision to life. I am also available
                        for headshots, photoshoots, other special occasions,
                        makeup lessons, and makeup parties.
                    </p>
                    -->
                </div>
                <div class="col-lg-6 order-1 order-sm-2 answer font-italic">
                    <img class="img-fluid" src="./img/faq/anna-brush.jpg" alt="Bride Anna with Makeup Brush in Apex">
                    <p class="text-center photoCredit">Little White Dress Visuals Photography</p>
                </div>

            </div>
            <div class="row mb-5">
                <div class="col-lg-6 answer font-italic">
                    <img class="img-fluid" src="./img/faq/makeup-artist-supplies.jpg" alt="Theresa's Makeup Kit">
                    <p class="text-center photoCredit">Stephen Alexander Photography</p>
                </div>
                    
                <div class="col-lg-6 font-italic">
                    <h3 class="question font-weight-bold">
                        How much time should I allow for my makeup appointment?
                    </h3>
                    <p class="answer">
                        If we are coming to you, extra time needs to be allotted for setting up and breaking down.
                        It takes about 20-30 minutes to set everything up and 15-30 to break everything down. 
                    </p>
                    <p class="answer">
                        It's important that someone is present while we pack up gear until we make our final exit. 
                    </p>
                    <p class="answer">
                        The makeup appointment itself takes between 40-90 minutes.
                        As a general rule of thumb we like to allow an hour per person and then add an hour for buffer time.
                        We know that on event days there are interruptions and things that happen that cause delays so we want to ensure there is plenty of time for pampering! 
                    </p>
                    <h3 class="question font-weight-bold">
                        I'm a bride, how much time should I allow for myself and my wedding party to get ready?
                    </h3>
                    <p class="answer">
                        For weddings, We always allow 1 hour per person plus 1 hour for buffer at least.
                        So if you have 4 people, we will allow 5 hours of get ready time.
                        Twenty to thirty minutes is also added to the beginning and end of that get ready time for setting up and breaking down our equipment and kits. 
                    </p>
                    
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-6 order-2 order-sm-1 font-italic">
                    
                    <h3 class="question font-weight-bold">
                        When should I plan to be ready by before my event?
                    </h3>
                    <p class="answer">
                        Beauty services should conclude at least 1-2 hours before your event.
                        This will give you plenty of time to use the restroom, get into your attire, and take pictures before your ceremony (if it's before a wedding). 
                    </p>
                    <h3 class="question font-weight-bold">
                        Do you have a certain look that you
                        like to use on everyone?
                    </h3>
                    <p class="answer">
                        While every artist, including myself has their own style, we still customize the client's makeup to their individual needs and preferences.
                        We also do our best to put you with an artist that suits your style and through our phone consultations or email conversations we make sure that we would be a good fit. 
                    </p>
                    <h3 class="question font-weight-bold">
                        What kind of brands do you use?
                    </h3>
                    <p class="answer">
                        We use many different brands that are geared towards professional use.
                        I enjoy using Viseart, Makeup Atelier, RCMA, Senna Cosmetics, Makeup Forever, and Graftobian to name a few.
                        Each artist will have their own kit that works for their needs and as seasoned artists we are always equipped to work with all ages and global skin tones. 
                    </p>
                    <h3 class="question font-weight-bold">
                        I have sensitive skin and I am
                        concerned that I will have a bad
                        reaction to your makeup, what can
                        you do?
                    </h3>
                    <p class="answer">
                        We only use hypoallergenic products and a majority of products are fragrance free.
                        If you have sensitive skin, I highly recommend doing a trial because we can do a patch test before your event.
                    </p>
                    
                </div>
                <div class="col-lg-6 order-1 order-sm-2 answer font-italic">
                    <img class="img-fluid" src="./img/faq/michelle-wedding-makeup.jpg" alt="Michelle's Wedding Day">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-lg-6 answer font-italic">
                    <img class="img-fluid" src="./img/faq/hires.jpg" alt="The Hires Wedding">
                    <p class="text-center photoCredit">Doug Fry Photography</p>
                </div>
                <div class="col-lg-6 font-italic">
                    <h3 class="question font-weight-bold">
                        Do you offer makeup trials?
                    </h3>
                    <p class="answer">
                        Yes! We like to call them Makeup Previews.
                        Before your preview we can discuss through email or over the phone what you are hoping to achieve.
                        Our goal is to collaborate with you to create exactly what you were hoping for and maybe even have it turn out better than you imagined!
                    </p>

                    <h3 class="question font-weight-bold">
                        How should I prepare for my makeup trial?
                    </h3>
                    <p class="answer">
                        Before the trial we will discuss your makeup inspiration and what you normally do for special event makeup in great detail.
                        It’s very important to come with a clean face, no residual eyeliner or mascara, and NO moisturizer on your face.
                        Moisturizer interferes with the prepping process and will need to be removed anyway, this adds on time to the appointment potentially cutting time from the actually application.
                        Removing all residual eyeliner and mascara is especially crucial (especially for weddings) because the old eyeliner and mascara is what will run if you cry (not mine).
                    </p>

                    <h3 class="question font-weight-bold">
                        I don’t wear a lot of makeup, and I’m not sure what to choose for makeup.
                    </h3>
                    <p class="answer">
                        A majority of our clients, especially bridal clients are not big makeup wearers.
                        Our philosophy is that the skin should still look like skin even with a full face of makeup.
                        It looks better in person, on camera, and in video. We have a skin prep process that will prepare the face perfectly for makeup.
                        The makeup we use is also designed for high definition cameras, this also adds to the the very skin like element of the makeup.
                        You will still feel like you, but a more defined, polished you. 
                    </p>
                </div>
            </div>

            <div class="row mb-5">

                <div class="col-lg-6 font-italic">
                    <h3 class="question font-weight-bold">
                        Do you do airbrushing?
                    </h3>
                    <p class="answer">
                        We don’t use airbrush tools, but the foundations and technique we implement are professional quality.
                        Any type of coverage feels lightweight and appears skin-like.
                        All our my clients are also impressed with the long-wearing qualities of the makeup.
                        You can read their personal testaments to our work <a href="./reviews.html" target="blank" class="seaFoamContact font-weight-bold">here</a>
                    </p>
                    <h3 class="question font-weight-bold">
                        Do you offer hair services?
                    </h3>
                    <p class="answer">
                        Yes we do.
                        With very large parties we like to refer our clients out to other hair professionals so we can just focus on your makeup.
                    </p>
                    <p class="answer">
                        If you prefer to hire a hair and makeup team, please
                        specify that on the <a class="seaFoamContact font-weight-bold" href="./contact.html" target="_blank">contact</a> form.
                    </p>
                    <h3 class="question font-weight-bold">
                        How can I reserve your services?
                    </h3>
                    <p class="answer">
                        A contract must be signed and a 50% retainer must be paid to reserve services for your event.
                        The retainer goes towards the cost of services on the day of your event.
                    </p>
                    <p class="answer">
                        Please <a class="seaFoamContact font-weight-bold" target="blank" href="./contact.html">contact</a> us to see if we have your date
                        available. We would love to be a part of your special day!
                    </p>

                    <h3 class="question font-weight-bold">
                        Do you carry makeup for all skin tones?
                    </h3>
                    <p class="answer">
                        Absolutely! We carry colors for global skin tones.
                        If I don’t have someone’s color we can custom curate their foundation color(s) using black, white, and the primary colors.
                        We are trained to do all skin tones, skin types, all different eye shapes so that each person can look their best. 
                    </p>

                    <h3 class="question font-weight-bold">
                        Do you offer makeup lessons?
                    </h3>
                    <p class="answer">
                        Yes! We offer one-to-one and group lessons. Booking a makeup lesson is quick and easy.
                        We also can help you personal shop for your products.
                    </p>
                    <p class="answer">
                        Click <a class="seaFoamContact font-weight-bold" target="blank" href="./makeup-classes.html">here</a> to learn more.
                    </p>
                </div>
                <div class="col-lg-6 answer font-italic">
                    <img class="img-fluid" src="./img/faq/apex_makeup_artist.jpg" alt="Apex Makeup Artist">
                    <p class="text-center photoCredit">Krista Stevens Photography</p>
                </div>
            </div>

        </div>

       {{ partial "footer.html" . }} 